@import "~@appcircle/shared/assets/scss/index.scss";
@import "/ComboBox.scss";

.ComboBoxContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  .ComboBox:first-child {
    margin-bottom: rem-calc(5);
    .EditableTextView {
      background-color: unset;
    }
  }

  > div:first-child {
    flex-grow: 1;
  }
}
