.ComboBox {
  // margin-bottom: var(--margin-bottom);
  position: relative;
  .List {
    position: absolute;
    z-index: 10;
    width: 100%;
    ul {
      transition-delay: 1000ms;
      transition: opacity 300ms;
      transform: translateY(10px);
      opacity: 0;
    }
    &-isOpened--true {
      ul {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &-danger {
    .EditableTextView {
      color: map-get($Theme, danger);
    }
  }

  .EditableTextView {
    margin: unset;
    display: block;
    background-color: lighten(map-get($Theme, secondaryExtraLight), 1.9);
    // border-color: map-get($Theme, secondaryLight);
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    // width: calc(100% - 36px);
    // vertical-align: middle;
  }
  [contenteditable="true"].EditableTextView {
    border-color: map-get($Theme, secondaryMid);
    background-color: map-get($Theme, secondaryUltraLight);
    overflow: hidden;
  }
  [contenteditable="true"].EditableTextView br {
    display: none;
  }
  [contenteditable="true"].EditableTextView * {
    white-space: nowrap;
  }
}

.ComboBoxTriangleIcon {
  position: absolute;
  right: rem-calc(16);
  bottom: calc(50% - 5px);
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: #a5b5c9 transparent transparent transparent;
  pointer-events: none;
}
