@import "./components/DistributionProfileDetailInfo.scss";
@import "./components/DistributionProfileDetailHeader.scss";

.ProfileDetail {
  &_messageToTester {
    margin: rem-calc(16);
  }
  & > .SpinnerWithText {
    position: relative;
  }
  &_notesters {
    height: auto !important;
    padding: rem-calc(50) 0;
  }
}

.ProfileVersions {
  width: 100%;
  height: 100%;
  @extend %flex-column;
  padding-bottom: rem-calc(18);
  display: flex;
  flex-direction: column;

  &_appInfo {
    @extend %flex-row-center;
    position: relative;
    padding: 0px rem-calc(15) rem-calc(11) rem-calc(15);
    &_icon {
      @extend .ProfileCard_head_icon;

      margin-right: rem-calc(12);

      path {
        fill: map-get($Theme, secondaryLight);
      }
    }
    &_name {
      // padding-left: rem-calc(16);

      font: map-get($ProfileVersions, nameFont);
      max-width: rem-calc(200);
      word-break: break-word;
      color: map-get($Theme, primary);
      line-height: 1.2em;
    }
    .AddButton {
      position: absolute;
      width: rem-calc(40);
      height: rem-calc(40);
      right: rem-calc(15);
      margin: auto;
      top: 0;
      bottom: 11px;
    }
  }
  &_actions {
    @extend %flex-row-center;
    box-shadow: map-get($ProfileVersions, actionsShadow);
    background-color: map-get($ProfileVersions, actionsBackground);
    min-height: rem-calc(56);
    .SwitchButton {
      padding-left: rem-calc(15);
    }
    .SearchField {
      margin-left: rem-calc(13);
      margin-right: rem-calc(15);
    }
  }
  &_versions {
    @extend %flex-column;
    flex-grow: 1;
    overflow: hidden;
  }
  &_emptyVersion {
    @extend %absolute-center;
    text-align: center;
    letter-spacing: 0.2px;
    font-family: map-get($ProfileVersions, noVersionFontFamily);
    font-size: map-get($ProfileVersions, noVersionFontSize);
    height: rem-calc(19);
    color: map-get($ProfileVersions, noVersionColor);
    padding-left: rem-cal(16);
    padding-right: rem-cal(16);
  }
  &_archiveInfo {
    flex-grow: 1;
    display: inline-block;
    position: relative;
    color: map-get($ProfileVersions, archiveInfoColor);
    background-color: map-get($ProfileVersions, archiveInfoBackground);
    font-family: map-get($ProfileVersions, archiveInfoFontFamily);
    font-size: map-get($ProfileVersions, archiveInfoFontSize);
    border-radius: rem-calc(7);
    margin-left: rem-calc(15);
    vertical-align: middle;
    line-height: rem-calc(40);
    margin-right: rem-calc(15);
    margin-top: rem-calc(18);
    margin-bottom: rem-calc(18);
    padding-left: rem-calc(15);
  }
}

.ProfileMessageToTester {
  min-height: rem-calc(120);
  position: relative;
  border-radius: rem-calc(7);
  box-shadow: map-get($ProfileMessageToTester, boxShadow);
  background-color: #ffffff;
  padding-top: rem-calc(20);
  padding-right: rem-calc(19);
  padding-left: rem-calc(19);
  white-space: pre-wrap;
  @extend %flex-column;
  &_head {
    display: flex;
    justify-content: space-between;
    &_title {
      font: map-get($ProfileMessageToTester, titleFont);
      color: map-get($ProfileMessageToTester, titleColor);
      letter-spacing: 0.2px;
    }
    &_icon {
      width: rem-calc(18);
      height: rem-calc(18);
      fill: map-get($ProfileMessageToTester, copyIconFillColor);
      cursor: pointer;
      opacity: 0.9;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  &_content {
    margin: rem-calc(19) 0px;
    font: map-get($ProfileMessageToTester, messageFont);
    color: map-get($ProfileMessageToTester, messageColor);
    overflow: auto;
    &-nomessage {
      color: #cccfd4;
    }
  }
  .SpinnerWithText {
    position: relative;
  }
}

.version-tag-short {
  letter-spacing: rem-calc(10);
  max-width: rem-calc(8);
  text-transform: uppercase;
}

@media #{$mobile} {
  main {
    height: 100% !important;
  }
  .ProfileVersions {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .ProfileDetail_sideBar {
    z-index: 99;
    width: 100%;
    min-width: unset;
  }
}

@media #{$tablet} {
  .ProfileDetailListItem_info_version_tag {
    overflow: hidden;
    letter-spacing: rem-calc(10);
    max-width: rem-calc(8);
    text-transform: uppercase;
  }
  .ProfileDetail_sideBar {
    min-width: unset;
  }
}
@media #{$desktop} {
  .ProfileVersions {
    width: rem-calc(425);
  }
}
@media #{$medium-h} {
  .ProfileDetail_sideBar {
    min-width: unset;
    transition: all 200ms ease-in-out;
    flex: 0 0 auto;
    width: 100%;
    opacity: 1;
    &-collapsed {
      width: 0px;
      z-index: -1;
      opacity: 0;
    }
    .ProfileVersions {
      width: 100%;
    }
  }
  .ProfileDetail_detail {
    padding-left: 1.5rem;
    // .ProfileTestersTableItem_emailteam {
    //   width: 50%;
    // }
  }
}

@import "./components/ProfileTestersTable.scss";
