@font-face {
  font-display: block;
  font-family: HelveticaNeue-Medium;
  src: url("~fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: HelveticaNeue-Bold;
  src: url("~fonts/HelveticaNeue/HelveticaNeue-Bold.ttf");
}

@font-face {
  font-display: block;
  font-family: HelveticaNeue;
  src: url("~fonts/HelveticaNeue/HelveticaNeue.ttf");
}
@font-face {
  font-display: block;
  font-family: SFProText-Bold;
  src: url("~fonts/SFProText/SFProText-Bold.ttf");
}

@font-face {
  font-display: block;
  font-family: SFProText-Semibold;
  src: url("~fonts/SFProText/SFProText-Semibold.ttf");
}

@font-face {
  font-display: block;
  font-family: SFProText-Regular;
  src: url("~fonts/SFProText/SFProText-Regular.ttf");
}

@font-face {
  font-display: block;
  font-family: SFProText-Medium;
  src: url("~fonts/SFProText/SFProText-Medium.ttf");
}
