.RadioButton {
  font-size: map-get($RadioGroup, itemFontSize);
  width: 100%;
  padding: rem-calc(15);
  min-height: rem-calc(40);

  &_title {
    // font-weight: bold;
    margin-right: rem-calc(10);
    font-family: HelveticaNeue-Medium, Arial, Helvetica, sans-serif;
  }
  .Toggle_header_title {
    margin: unset;
    line-height: unset;
  }
  &_expression {
    margin-right: rem-calc(10);
    margin-top: rem-calc(5);
  }
  &_elemment {
    @extend %flex-row-center;
    justify-content: space-between;
  }
  .Toggle_header {
    max-height: unset;
  }

  > div {
    height: 100%;
  }

  cursor: hand;
  cursor: pointer;

  &_circle {
    min-width: rem-calc(24);
    width: rem-calc(24);
    height: rem-calc(18);
    border-radius: 50%;
    circle:first-child {
      stroke: map-get($RadioGroup, circleColor);
    }
  }
  &-selected {
    .Toggle_header_title {
      color: map-get($Theme, primary) !important;
      .RadioButton_expression {
        color: map-get($Theme, secondary) !important;
      }
    }
    .RadioButton_circle {
      circle:first-child {
        stroke: map-get($RadioGroup, activeItemColor);
      }
      circle:last-child {
        fill: map-get($RadioGroup, activeItemColor);
      }
    }
  }
  &-disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
