$AutoSentSettins: (
  descriptionColor: #c3c9d1,
  primaryFontFamily: HelveticaNeue-Medium,
  secondaryFontFamily: HelveticaNeue-Bold,
  primaryFontSize: rem-calc(15),
  palceHolderColor: #9ba4ad,
  headerColor: #5b799e,
  isActiveColor: #1a3352,
  listShadowColor: #e5e8ef,
  itemBackground: #f5f6f9
);

.AutoSentSettins {
  @extend %flex-column;
  font-size: map-get($AutoSentSettins, primaryFontSize);
  overflow: auto;
  &_description-container {
    margin-right: rem-calc(16);
    margin-bottom: rem-calc(16);
    &__child {
      color: map-get($AutoSentSettins, descriptionColor);
      font-family: map-get($AutoSentSettins, primaryFontFamily);
    }
  }
  
  &_list {
    @extend %flex-column;
    align-items: stretch;
    justify-content: center;
    position: relative;
    margin: rem-calc(7) 0 rem-calc(7);

    &:first-child {
      margin-top: rem-calc(22);
    }
    &_outer {
      cursor: pointer;
      position: relative;
      @extend %flex-row-center;
      flex-grow: 1;
      justify-content: flex-start;
      // max-height: rem-calc(40);
      margin: rem-calc(16) rem-calc(30);
      background-color: map-get($AutoSentSettins, itemBackground);
      border-radius: rem-calc(5);
    }
    &_header {
      margin-left: rem-calc(18);
      line-height: rem-calc(40);
      color: map-get($AutoSentSettins, headerColor);
      font-family: map-get($AutoSentSettins, secondaryFontFamily);
    }
    .CheckboxList {
      flex-grow: 1;
      height: 50%;
    }

    .TaggableTextField {
      position: relative;
      height: rem-calc(80);
      margin: rem-calc(14) 0;
      flex-grow: 1;
      padding: 0px;
      &_child {
        height: 100%;
      }
    }
  }
}
