$CheckboxList: (
  checkedBackground: rgba(91, 121, 158, 0.2)
);

.CheckboxList {
  @extend %flex-row;
  &_tag {
    &-checked {
      background-color: map-get($CheckboxList, checkedBackground);
    }
  }
}
