.ProfileDetailListItem {
  @extend .DataListItem;

  &:last-child {
    border-bottom: 1px solid map-get($ProfileDetailListItem, borderColor);
  }

  position: relative;
  &:hover {
    .ProfileDetailListItem_info {
      color: map-get($ProfileDetailListItem, selectedInfoColor);
    }
  }
  &_info {
    @extend %flex-row-center;
    color: map-get($ProfileDetailListItem, infoColor);
    margin-bottom: 3px;
    justify-content: space-between;
    align-items: baseline;

    &_version {
      font: map-get($ProfileDetailListItem, versionFont);
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      &_channel {
        font: map-get($ProfileDetailListItem, versionTagFont);
      }
      &_tags {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
      &_tag {
        color: map-get($ProfileDetailListItem, versionTagColor);
        font: map-get($ProfileDetailListItem, tagFont);
        margin-left: 1px;
        padding-left: rem-calc(7);
        padding-right: 5px;
        height: 20px;
        line-height: 20px;

        &_V {
          background-color: map-get(
            $ProfileDetailListItem,
            versionTagVBackground
          );
        }
        &_S {
          background-color: map-get(
            $ProfileDetailListItem,
            versionTagSBackground
          );
        }

        &:first-child {
          margin-left: rem-calc(10);
          border-top-left-radius: rem-calc(4);
          border-bottom-left-radius: rem-calc(4);
        }
        &:last-child {
          border-top-right-radius: rem-calc(4);
          border-bottom-right-radius: rem-calc(4);
        }
      }
    }
    &_size {
      font: map-get($ProfileDetailListItem, sizeFont);
      text-align: right;
    }
  }
  &_detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: map-get($ProfileDetailListItem, detailColor);
    font: map-get($ProfileDetailListItem, detailFont);
    &_uploadTime {
      text-align: left;
    }
    &_testersNum {
      &_icon {
        width: rem-calc(12);
        height: rem-calc(12);
        fill: map-get($ProfileDetailListItem, detailColor);
        margin-right: rem-calc(5);
      }
      text-align: right;
    }
  }
}
