.ProfileDetailTable{
  @extend %flex-column;
  border-radius: rem-calc(7);
  box-shadow: 0 rem-calc(2) rem-calc(4) 0
    map-get($ProfileDetail, testersTableShadowColor);
  background-color: map-get($ProfileDetail, testersTableBackground);
  margin: rem-calc(16);
  &_header{
    @extend %flex-row-center;
    justify-content: space-between;
    padding-left: rem-calc(19);
    padding-top: rem-calc(21);
    padding-bottom: rem-calc(19);
    padding-right: rem-calc(16);
    span {
      letter-spacing: 0.2px;
      color: map-get($ProfileDetail, testersTableHeaderColor);
      font-family: map-get($ProfileDetail, testersTableHeaderFontFamily);
      font-size: map-get($ProfileDetail, testersTableHeaderFontSize);
    }
    .TextButton {
      width: auto;
    }
  }
}