.ProfileDetailHeader {
  max-height: rem-calc(70);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 1px 0 0 map-get($ProfileDetailHeader, shadowColor);
  background-color: map-get($ProfileDetailHeader, background);
  padding: rem-calc(12) rem-calc(17);
  border: 0;
  &_info_version,
  &_info_version_channel {
    font-family: map-get($ProfileDetailHeader, primaryFontFamily);
    font-size: map-get($ProfileDetailHeader, primaryFontSize);
  }
  &_detail {
    font-size: map-get($ProfileDetailHeader, secondaryFontSize);
  }
  cursor: default;
  .ProfileDetailListItem_info_size,
  .ProfileDetailListItem_detail_testersNum {
    display: none;
  }
  &_leftItem {
    flex-grow: 1;
  }
  &_rightItem {
    flex-grow: 1;
    position: relative;
    width: auto;
    .Button-light {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 50px;
      white-space: nowrap;
      width: auto;
      background-color: map-get($Theme, secondaryUltraLight);
    }
    .ThreeDotsToggle {
      transform: translateY(-20px);
      top: 50%;
      right: 0;
    }
  }
}
