$AddTag-color: #5b799e;
$AddTag-border-color: #5b799e;
$AddTag-fill-color: #5b799e;

.ProfileDetailInfo {
  position: relative;
  @extend %flex-column;
  padding-left: rem-calc(19);
  padding-top: rem-calc(20);
  background-color: map-get($ProfileDetailInfo, background);
  box-shadow: 0 1px 3px 0 map-get($ProfileDetailInfo, shadowColor);
  margin: rem-calc(16);
  border-radius: rem-calc(7);
  
}