.ProfileDetail {
  width: 100%;
  height: 100%;
  @extend %flex-row;
  background-color: map-get($ProfileDetail, background);

  &_sideBar {
    position: relative;
    width: 26.5625rem;
    min-width: 26.5625rem;
    height: calc(100% - 0.75rem);
    padding: rem-calc(12) 0px 0px 0px;
    background-color: #f5f6f9;
    box-shadow: 1px 0 0 0 rgba(91, 121, 158, 0.2);
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
    overflow: hidden;
    background-color: map-get($ProfileDetail, versionsBackground);
    z-index: 101;
  }

  &_detail {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    & > :first-child {
      background-color: map-get($ProfileDetail, versionHeaderBackground);
      z-index: 100;
      height: 100%;
    }
    .AddNewFile {
      margin-top: rem-calc(105);
      margin-left: rem-calc(123);
      margin-right: rem-calc(123);
      margin-bottom: rem-calc(105);
      background-color: transparent;
    }
  }
  &__handler {
    display: none;
  }
}

@media #{$tablet} {
  .ProfileDetail_sideBar {
    min-width: unset;
  }
}
