.Toggle {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  &_element {
  }

  &_header {
    cursor: pointer;
    position: relative;
    @extend %flex-row-center;
    flex-grow: 1;
    justify-content: space-between;
    max-height: rem-calc(40);
    color: map-get($Theme, primaryLight);
    background-color: #f5f6f9;
    border-radius: rem-calc(5);

    &_title {
      margin-left: rem-calc(18);
      line-height: rem-calc(40);
    }

    &_closeIcon {
      margin-right: 1rem;
      transition: all 250ms ease-in-out;
      &-up {
        transform: rotateX(180deg);
      }
      &-down {
        transform: rotateX(0deg);
      }
    }
  }
  &_selected {
    color: map-get($Theme, primaryMid);
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
