.TestingDistribution {
  --content-gap: #{rem-calc(16)};
  --header-h: #{rem-calc(70)};
  @extend %flex-column;

  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  .ProfileCard {
    .DistributeProfileCard_osIcon {
      // width: rem-calc(25) !important;
      // height: rem-calc(25) !important;

      &-hasVersion--true {
        path {
          fill: map-get($Theme, primaryMid);
        }
      }
    }
    .ProfileCard_subTitles {
      &_item {
        img,
        svg {
          width: 24px;
          height: 24px;
        }
      }
      // img {
      //   margin-right: rem-calc(15);
      //   border-radius: 5;
      // }
    }
  }
}

.leftBarHandler {
  display: none;
}
@media #{$medium-h} {
  .leftBarHandler {
    display: flex;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #dedfe0;
    width: 1.5rem;
    position: absolute;
    height: 100%;
    left: -100px;
    transition: left 150ms 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    justify-content: center;
    align-items: center;
    &-show {
      left: 0px;
    }
  }
}

@import "./pages/profile/ProfileDetail.scss";
@import "./pages/groups/ProfileGroups";
@import "./pages/profile/components/DistributionProfileDetailHeader.scss";
@import "./modals/index.scss";
