.ConfirmationModalDialog {
  height: auto !important;
  &_body {
    height: auto;
    min-height: auto;
    text-align: center;
    height: rem-calc(150);
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .ModalDialogHeader {
    path {
      fill: map-get($Theme, primaryMid);
    }
  }
  &_title {
    color: map-get($Theme, primaryMid);
    margin: rem-calc(30);
    text-align: center;
    font-size: 1rem;
    font-family: SFProText-Semibold;
    letter-spacing: 0.23px;
    min-height: rem-calc(40);
  }
  footer {
    background-color: inherit;
    position: sticky;
    background: white;
    bottom: 0px;
    min-height: $form-footer-h;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
