.DeleteModalView {
  ::placeholder {
    color: map-get($Theme, secondaryMid);
  }
  width: rem-calc(650);
  height: rem-calc(361) !important;
  .FormComponent:last-child {
    margin-bottom: 0 !important;
  }
  .ModalDialog_header {
    display: none;
  }
  &_icons {
    position: relative;
    height: rem-calc(50);
    @extend %flex-row-center;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 rgba(218, 68, 68, 0.05);
    background-color: rgba(218, 68, 68, 0.1);
    border-top-left-radius: rem-calc(7);
    border-top-right-radius: rem-calc(7);
    svg {
      width: rem-calc(28);
      height: rem-calc(28);
    }
  }
  &_content {
    @extend %flex-column;
    align-items: stretch;
    height: 100%;
    & > span {
      color: map-get($DeleteModalView, primaryColor);
      margin-top: rem-calc(28);
      text-align: center;
      font-size: map-get($DeleteModalView, primaryFontSize);
      font-family: map-get($DeleteModalView, primaryFontFamily);
      letter-spacing: 0.23px;
    }
    .SearchField {
      margin-top: rem-calc(21);
      height: rem-calc(40);
      border-color: map-get($DeleteModalView, secondaryColor);
      color: map-get($DeleteModalView, secondaryColor);
      svg {
        display: none;
      }
      input {
        font-size: map-get($DeleteModalView, secondaryFontSize);
        font-family: map-get($DeleteModalView, primaryFontFamily);
        letter-spacing: 0.23px;
        margin-left: rem-calc(16);
      }
    }
  }
  &_appInfo {
    @extend %flex-row-center;
    position: relative;
    border-radius: rem-calc(7);
    margin-bottom: rem-calc(20);
    padding: rem-calc(14) rem-calc(0) rem-calc(12) rem-calc(14);
    background-color: map-get($DeleteModalView, appInfoBackground);
    overflow-x: hidden;
    text-overflow: ellipsis;
    & > img {
      width: rem-calc(48);
      height: rem-calc(48);
      border-radius: rem-calc(8);
    }
    & > div {
      user-select: all;
      white-space: pre-wrap;
      font: map-get($ProfileVersions, nameFont);
      color: map-get($Theme, primaryDark);
    }
    img + div {
      padding-left: rem-calc(16);
    }
  }
}
