.modalContainer {
  @extend .windowOverlay;
  pointer-events: all;
  z-index: 999;
  left: 0;
  top: 0;
  margin-left: auto;
  position: fixed;
  //background-color: rgba(26, 51, 82, 0.8);
  background-color: rgba(map-get($Theme, primary), 0.8);
  &_close {
    position: absolute;
    pointer-events: all;
    top: rem-calc(32);
    right: rem-calc(36);
    @extend %flex-column-center;
    z-index: 1;
    & > div {
      font-family: SFProText-Semibold;
      font-size: rem-calc(16);
      letter-spacing: 0.2px;
      color: #ffffff;
    }
    svg {
      cursor: pointer;
      .close_svg__oval {
        fill: white;
      }
      .close_svg__cross {
        fill: #6481a3;
      }
    }
  }
}

.modalLayer {
  @extend .windowOverlay;
  &-active {
    background: rgba($color: #000000, $alpha: 0.4);
    pointer-events: all;
  }
  &-active ~ div {
    // z-index: 101;
    // position: relative;
    // pointer-events: all;
  }
}
