.DataList {
  @extend %flex-column-center;
  align-items: stretch;
  height: 100%;
  flex-grow: 1;
  &_header {
    padding-left: rem-calc(15);
    padding-top: rem-calc(28);
    padding-bottom: rem-calc(11);
    text-align: left;
    color: map-get($ProfileDetailList, headerColor);
    font: map-get($ProfileDetailList, headerFont);
  }
  &_items {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-grow: 1;
    overflow-y: auto;
    border-width: 1px;
    border-style: solid;
    border-color: map-get($ProfileDetailListItem, borderColor);
    border-radius: rem-calc(7);
  }
}
.DataListItem {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: center;
  min-height: rem-calc(70);
  padding-left: rem-calc(15);
  padding-right: rem-calc(20);
  letter-spacing: 0rem-calc(2);
  border-bottom: 1px solid map-get($ProfileDetailListItem, borderColor);

  cursor: pointer;
  &-selected,
  &:hover {
    background-color: map-get($ProfileDetailListItem, selectedBackground);
  }
  &-selected {
    pointer-events: none;
  }
  &:first-child {
  }
  &:last-child {
    border-bottom: none;
  }
}
