.StoreSubmitProfileCard {
  .ProfileCard_subTitles {
    &_item {
      > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // flex-grow: 1;
        max-width: calc(100% - 70px);
      }
    }
    &_icon {
      display: flex;
      justify-content: center;
      min-width: 42px;
    }
    svg {
      // width: auto;
      // height: auto;
      text-align: center;
    }
  }
}
