.UploadKeyStoreForm {
  .AddNewFile {
    margin-top: 0;
  }
}
.SIDAndroidKeyStoreUploadWizardModal {
  &_help {
    font-family: SFProText-Regular;
    font-size: rem-calc(13);
    margin-bottom: rem-calc(30);
    color: #a5b5c9;
  }

  &_pageTitles {
    color: #1a3352;
    font-family: HelveticaNeue-Medium;
    font-size: rem-calc(15);
    > * {
      border-radius: rem-calc(5);
      border: solid 1px #e5e8ef;
      background-color: #f5f6f9;
      padding: rem-calc(10) 0 rem-calc(10) rem-calc(18);
      cursor: pointer;
    }
    > *:not(:last-child) {
      margin-bottom: rem-calc(25);
    }
    > *:hover {
      background-color: #ebecee;
    }
    &_disabled {
      color: #a4acb4;
      pointer-events: none;
    }
  }

  .AddNewFile_input {
    margin-top: rem-calc(43);
  }
}
