.SIDIOSCertificateUploadWizardModal {
  &_pageTitles {
    color: #1a3352;
    font-family: HelveticaNeue-Medium;
    font-size: rem-calc(15);
    > * {
      border-radius: 5px;
      border: solid 1px #e5e8ef;
      background-color: #f5f6f9;
      padding: rem-calc(10) 0 rem-calc(10) rem-calc(18);
      cursor: pointer;
    }
    > *:not(:last-child) {
      margin-bottom: rem-calc(25);
    }
    > *:hover {
      background-color: #ebecee;
    }
    &_disabled {
      color: #a4acb4;
      pointer-events: none;
    }
  }
  .AddNewFile {
    margin: 0px;
    padding: 52px 0px;
    margin-bottom: rem-calc(30);
  }
  &_field {
    width: 100%;
    border-radius: rem-calc(5);
    border: solid 1px #e5e8ef;
    height: rem-calc(40);
    padding-left: rem-calc(13);
    font-family: HelveticaNeue-Medium;
    font-size: rem-calc(15);
    color: #1a3352;
  }
  &_label {
    display: inline-block;
    color: #5b799e;
    font-family: SFProText-Semibold;
    text-transform: uppercase;
    margin-bottom: rem-calc(13);
    font-size: rem-calc(14);
  }
  &-inner {
    padding-left: rem-calc(18);
  }
  &_footer {
    position: absolute;
    background: white;
    bottom: 0px;
    height: 4.357rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .AddNewFile_input {
    margin-top: rem-calc(43);
  }
}
