.StoreSubmitProfileDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  position: relative;

  .ProfileDetailInfo {
    padding-top: 0;
    padding-bottom: rem-calc(5);
  }
}

@media #{$medium-h} {
  .StoreSubmitProfileDetail {
    padding-left: 1.5rem;
  }
}
