.AddEmailComponent {
  > form {
    @extend %flex-row-center;
    margin: 0px rem-calc(15);
    height: 50%;
  }
  .AddButton {
    width: rem-calc(85);
    height: rem-calc(40);
    font: map-get($ProfileGroupHeader, addButtonFont);
  }
  .ConditionalTextField {
    margin-right: rem-calc(14);
    height: rem-calc(40);
  }
}
