@import "~@appcircle/shared/assets/scss/index.scss";
@import "./ConditionalTextField.scss";
@import "./IconTextField.scss";
@import "./AddEmailComponent.scss";

.AddEmailComponent {
  > form {
    @extend %flex-row-center;
    margin: 0px;
    height: 50%;
  }
}
