$AddNewFile: (
  primaryColor: #e2e5eb,
  scondaryColor: #d9dde5,
  buttonBackground: #ffffff,
  buttonColor: #5b799e,
  butonShadowColor: #e6e9ef
);

.ModalDialog_content {
  > .AddNewFile {
    margin: rem-calc(30);
  }
}

.AddNewFile {
  > div {
    width: 100%;
    padding: 0 rem-calc(30) 0 rem-calc(30);
  }
  @extend %flex-row-center;
  &_selectedText {
    color: map-get($Theme, primaryMid);
    margin-bottom: rem-calc(10);
  }
  &-invalid {
    &--true {
      color: map-get($Theme, warning);
    }
    &--false {
      display: none;
    }
  }
  position: relative;
  justify-content: center;
  color: map-get($AddNewFile, scondaryColor);
  flex-grow: 1;
  // margin-top: rem-calc(50);
  // margin-left: rem-calc(62);
  // margin-right: rem-calc(52);
  // margin-bottom: rem-calc(54);
  border-radius: rem-calc(15);
  border: dashed 3px map-get($AddNewFile, primaryColor);
  margin: rem-calc(30) 0 rem-calc(20) 0;
  padding: rem-calc(52) 0;
  margin-bottom: rem-calc(20);
  &_icons {
    > svg:not(:last-child) {
      margin-right: rem-calc(10);
    }
    svg {
      [class*="__fill_color"] {
        fill: map-get($AddNewFile, scondaryColor);
      }
      // margin-right: rem-calc(35);
      margin-bottom: rem-calc(15);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & > div {
    @extend %flex-column-center;
    justify-content: flex-start;
    font-family: SFProText-Semibold;
    font-size: rem-calc(16);
    white-space: pre-line;
    text-align: center;
  }
  &_text {
    margin-bottom: rem-calc(13);
    // font-family: SFProText-Regular;
    // font-size: rem-calc(13);
  }
  input {
    @extend %absolute-full;
    width: 100%;
    opacity: 0;
  }
  &-isDropCaptured {
    border-color: map-get($AddNewFile, buttonColor);
  }
  &_input {
    position: relative;
  }
  &_progressBar {
    background-color: #cccccc;
    min-height: 6px;
    margin-bottom: rem-calc(10);
    max-height: rem-calc(300);
    width: 100%;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 2px;
    max-width: 388px;
    > div {
      margin-top: 1px;
      border-radius: 2px;
      min-height: 4px;
      background-color: #ffffff;
    }
  }
  .SubmitButton {
    width: rem-calc(149);
  }
  .TextButton {
    color: map-get($AddNewFile, buttonColor);
    background-color: map-get($AddNewFile, buttonBackground);
    background-color: map-get($AddNewFile, buttonBackground);
    box-shadow: 0 2px 4px 0 map-get($AddNewFile, butonShadowColor);
    border: none;
    width: rem-calc(119);
    height: rem-calc(42);
    &:hover {
      background-color: lighten(map-get($AddNewFile, buttonBackground), 15);
    }
    &:active {
      background-color: darken(map-get($AddNewFile, buttonBackground), 15);
    }
  }
}
