.Button {
  @extend %flex-row-center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
  background-color: map-get($AddButton, background);
  border-radius: 7px;
  padding: 0em rem-calc(8);
  margin: none;
  outline: none;
  min-height: rem-calc(40);
  width: rem-calc(200);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  // letter-spacing: 0.2px;
  user-select: none;
  cursor: pointer;
  &-disabled--true {
    $bgColor: map-get($Theme, secondaryMid);
    --background-color: #{$bgColor} !important;
    pointer-events: none;
  }
  &-warning {
    $bgColor: map-get($Theme, warning);
    --background-color: #{$bgColor};
    --primary-color: #{map-get($Button, primaryColor)};
    &:hover {
      background-color: lighten($bgColor, 10%);
    }
    &:active {
      outline-color: none;
      border: none;
      background-color: darken($bgColor, 15%);
    }
  }

  &-danger {
    $bgColor: map-get($Theme, danger);
    --background-color: #{$bgColor};
    --primary-color: #{map-get($Button, primaryColor)};
    &:hover {
      background-color: lighten($bgColor, 10%);
    }
    &:active {
      outline-color: none;
      border: none;
      background-color: darken($bgColor, 15%);
    }
  }

  &-primary {
    $bgColor: map-get($Theme, primaryMid);
    --background-color: #{$bgColor};
    --primary-color: #{map-get($Button, primaryColor)};
    &:hover {
      background-color: lighten($bgColor, 10%);
    }
    &:active {
      outline-color: none;
      border: none;
      background-color: darken($bgColor, 15%);
    }
  }
  &-primaryLight {
    $bgColor: map-get($Theme, primaryLight);
    --background-color: #{$bgColor};
    --primary-color: #{map-get($Button, primaryColor)};
    &:hover {
      background-color: lighten($bgColor, 10%);
    }
    &:active {
      outline-color: none;
      border: none;
      background-color: darken($bgColor, 15%);
    }
  }
  &-light {
    color: map-get($Theme, info);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: map-get($Theme, secondaryLight);
    }
    &:active {
      outline-color: none;
      border: none;
      background-color: map-get($Theme, secondaryExtraLight);
    }
  }
  &-isFocus--true {
    border: 1px solid map-get($Theme, secondary);
  }
  &-xxsm {
    max-width: rem-calc(20);
    padding: 0em rem-calc(4);
    font-size: $smallFontSize;
  }
  &-xsm {
    max-width: rem-calc(60);
    font-size: $smallFontSize;
  }
  &-sm {
    max-width: rem-calc(110);
    font-size: $mediumFontSize;
  }
  &-md {
    max-width: rem-calc(190);
    font-size: $mediumFontSize;
  }
  &-lg {
    max-width: rem-calc(220);
    font-size: $largeFontSize;
  }

  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: map-get($Button, fontFamily);
}

a.tinyButton {
  color: map-get($Theme, secondaryUltraLight);
  font-size: rem-calc(10);
  background: darken(map-get($Theme, secondaryMid), 4);
  padding: rem-calc(5);
  line-height: 0.7;
  border-radius: 5px;
  &:hover {
    background: map-get($Theme, secondary);
  }
}
