.ConnectionStatusBar {
  padding: 2.5px 25px;
  background: map-get($Theme, danger);
  color: map-get($Theme, secondaryUltraLight);
  position: relative;
  z-index: 200;
  opacity: 0;
  left: 0;
  transition: all 0.75s ease-in-out;
  text-align: center;
  top: -100px;
  &-fadeIn {
    opacity: 1;
    top: 0;
    height: auto;
  }

  &-onlineStatus {
    background: map-get($Theme, success);
    color: map-get($Theme, secondaryUltraLight);
  }
  &-hide {
    display: none;
  }
}
