.DraggableList {
  .DraggableListItem {
    &:not(:last-child) {
      border-bottom: 1px solid #e3e3e3;
    }
    > div {
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: rem-calc(10);
      }
      &:first-child {
        max-width: rem-calc(22);
        min-width: rem-calc(22);
      }
      &:last-child {
        max-width: rem-calc(10);
      }
    }
    &_hamburger {
      width: 20px;
      color: map-get($Theme, secondaryMid);
    }
    &_title {
      font-size: 1em;
      margin-bottom: rem-calc(10);
    }
    &_description {
      font-size: rem-calc(13);
      color: map-get($Theme, primaryMid);
    }
    color: map-get($Theme, primary);
    line-height: normal;
    letter-spacing: normal;
    padding: 1rem;
    background-color: map-get($Theme, secondaryExtraLight);
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: map-get($Theme, secondaryLight);
    }

    &-dragging--true {
      background-color: map-get($Theme, danger) !important;
    }
    &-disabled--true {
      background-color: map-get($Theme, secondaryExtraLight) !important;
      div {
        color: map-get($Theme, secondaryMid) !important;
      }
    }
  }
}
