.EditableTextView {
  display: flex;
  flex-direction: column;

  &-multiline--true {
    height: auto;
    overflow: hidden;
  }
  &_textArea {
    max-width: 100%;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: rem-calc(10);
    &:empty:not(:focus):before {
      color: map-get($Theme, secondaryMid);
      content: attr(data-placeholder);
    }
    &-multiline--false {
      line-height: rem-calc(40);
      max-height: rem-calc(40);
      white-space: nowrap;
    }
    &-multiline--true {
      white-space: pre-line;
      min-height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &-active--false {
      background: map-get($Theme, secondaryExtraLight);
    }
    &-active--true {
      background: map-get($Theme, secondaryUltraLight);
      color: white;
    }
  }
}
