@import "~@appcircle/shared/assets/scss/index.scss";

.FlatHeader {
  z-index: 5;
  > .SearchField {
    max-width: rem-calc(344);
    flex-grow: 1;
    box-sizing: content-box;
    height: rem-calc(38);
  }
  box-sizing: border-box;
  top: 0;
  position: sticky;
  justify-content: space-between;
  padding-left: var(--content-gap);
  padding-right: var(--content-gap);
  align-items: center;
  display: flex;
  width: inherit;
  min-height: var(--header-h);
  box-shadow: 0 1px 0 0 rgba(91, 121, 158, 0.1);

  &__child-left {
    display: none;
  }
  &__child-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    .SearchField {
      height: 2.5rem;
      max-width: 21.5rem;
      > svg {
        fill: map-get($Theme, primaryMid);
      }
    }
  }
}
