.requiredIndicator {
  --require-indicator-size: calc(#{rem-calc(4)});
  --require-indicator-scale: 1;
  --require-indicator-size-half: calc(var(--require-indicator-size) / 2);

  transition: transform, margin-left, margin-top;
  transition-duration: 100ms;

  // &::before {
  //   position: absolute;
  //   top: -(var(--require-indicator-size-half));
  //   left: 0;
  //   font-size: rem-calc(10);
  //   // content: "required";
  // }
  &-pass--true {
    background-color: map-get($Theme, success);
  }
  &-pass--false {
    background-color: map-get($Theme, danger);
  }

  transform: scale(var(--require-indicator-scale));
  font-size: rem-calc(10);
  position: absolute;
  z-index: 1;
  width: var(--require-indicator-size);
  height: var(--require-indicator-size);
  border-radius: var(--require-indicator-size-half);
  font-size: rem-calc(18);
  margin-left: var(--require-indicator-size-half);
  margin-top: var(--require-indicator-size-half);
}
.Form {
  display: flex;
  flex-direction: column;
  background-color: none;
  height: calc(100% - #{$form-footer-h});
  overflow: hidden;
  height: 100%;
  position: relative;
  select,
  input {
    font-family: HelveticaNeue-Medium, Arial, Helvetica, sans-serif;
  }

  .FormComponent {
    --margin-bottom: #{rem-calc(30)};
    --require-indicator-size: calc(#{rem-calc(4)});
    --require-indicator-scale: 1;
    --require-indicator-size-half: calc(var(--require-indicator-size) / 2);

    position: relative;
    margin-bottom: var(--margin-bottom);
    &_wrappedElement {
    }
    &:focus-within {
      --require-indicator-scale: 0.8;
      // --require-indicator-size: #{rem-calc(6)};
    }
    &_required {
      @extend .requiredIndicator;
    }
  }

  .FormComponent:last-child {
    margin-bottom: rem-calc(10) !important;
  }

  &_text {
    font-family: SFProText-Regular;
    font-size: rem-calc(13);
    margin-bottom: rem-calc(20);
    color: #a5b5c9;
  }

  &_error {
    color: map-get($Theme, danger);
    position: absolute;
    transform: translateY(5px);
    left: rem-calc(18);
    font-size: rem-calc(12);
  }

  &_field-readonly {
    line-height: 5.6ch;
    color: map-get($Theme, secondary) !important;
    border: solid 1px map-get($Theme, secondaryExtraLight) !important;
  }

  &_line {
    width: 100%;
    height: 2px;
    border: solid 1px map-get($Theme, primaryLight);
    margin-bottom: rem-calc(30);
  }

  &_field {
    width: 100%;
    border-radius: rem-calc(5);
    border: solid 1px map-get($Theme, secondaryLight);
    min-height: rem-calc(40);
    padding-left: rem-calc(13);
    font-size: rem-calc(13);
    color: #1a3352;
    font-family: HelveticaNeue-Medium;
    &-error {
      border: 1px solid map-get($Theme, danger) !important;
    }
    &-disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  &_label {
    display: inline-block;
    color: #5b799e;
    font-family: SFProText-Semibold;
    text-transform: uppercase;
    margin-left: rem-calc(14);
    margin-bottom: rem-calc(13);
    font-size: $mediumFontSize;
  }
  &-inner {
    padding-left: rem-calc(18);
  }
  &_tip {
    margin-top: rem-calc(6);
    font-family: SFProText-Semibold;
    font-size: $xsmallFontSize;
    text-transform: none;
    color: map-get($Theme, primaryLight);
  }
}

.FormBody {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{rem-calc(60)});
  overflow: auto;
  margin: rem-calc(30) rem-calc(30) 0 rem-calc(30);
  height: 100%;
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  &-row1 {
    width: 98%;
  }
  &-row2 {
    width: 47%;
  }
}
