@import "~@appcircle/shared/assets/scss/index.scss";
@import "./TextField.scss";
@import "./Button.scss";
@import "./ScrollView.scss";
@import "./GroupList.scss";

.GroupList_item_rightItem {
  align-items: center;
}

.GroupList_item_rightItem_icon svg,
.GroupList_item_rightItem_icon {
  width: rem-calc(20);
  height: rem-calc(20);
}
