@import "~@appcircle/shared/assets/scss/index.scss";
@import "./IconButton.scss";
@import "./GroupsDetailLayout.scss";

.leftBarHandler {
  display: none;
}
@media #{$medium-h} {
  .leftBarHandler {
    display: flex;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #dedfe0;
    width: 1.5rem;
    position: absolute;
    height: 100%;
    left: -100px;
    transition: left 150ms 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    justify-content: center;
    align-items: center;
    &-show {
      left: 0px;
    }
  }
}

.GroupsDetailLayout {
  width: 50%;
  min-height: 250px;
  margin-left: 50%;
}
