.GroupsDetailLayout {
  width: 100%;
  height: 100%;
  @extend %flex-row;
  background-color: map-get($ProfileGroups, background);
  position: relative;

  &_header {
    position: relative;
    @extend %flex-row-center;
    min-height: rem-calc(70);
    box-shadow: 0 1px 0 0 map-get($ProfileGroups, boxShadowColor);
    padding: rem-calc(0) rem-calc(15);
    justify-content: space-between;
    background-color: map-get($ProfileGroups, bacgroundColor);

    .AddButton {
      width: rem-calc(40);
      height: rem-calc(40);
    }
  }
  &_title {
    color: map-get($ProfileGroups, nameColor);
    font: map-get($ProfileGroups, nameFont);
  }
  & > .SpinnerWithText {
    position: relative;
    flex-grow: 1;
  }

  &_sideBar {
    position: relative;
    background-color: map-get($ProfileGroups, listBackground);
    width: rem-calc(400);
    box-shadow: 1px 0 0 0 map-get($ProfileGroups, listShadowColor);
    overflow: hidden;
    height: 100%;
    @extend %flex-column;
  }

  &_detail {
    position: relative;
    flex-grow: 1;
    @extend %flex-column;
    background-color: map-get($ProfileGroups, detailBackground);
    margin-left: 1px;
  }
}

@media #{$medium-h} {
  .GroupsDetailLayout_sideBar {
    // padding-left: 1.5rem;
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100% !important;
    transform: translateX(0);
    position: absolute;
    z-index: 2;
    opacity: 1 !important;
    &-collapsed {
      transform: translateX(-100%);
    }
  }

  .GroupsDetailLayout_detail {
    padding-left: 1.5rem;
  }
}
