.GroupList {
  flex-grow: 1;
  overflow: hidden;
  &_scrollbar {
    padding-top: rem-calc(15);
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    overflow-y: auto;
    height: 100%;
  }
  &_item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: rem-calc(1);
    border-style: solid;
    border-color: map-get($ProfileGroupListItem, borderColor);
    border-radius: rem-calc(7);
    height: rem-calc(60);
    margin-bottom: rem-calc(9);
    letter-spacing: 0.2px;
    @extend %flex-row-center;
    justify-content: flex-start;
    padding: 0 rem-calc(25) 0 rem-calc(15);
    color: map-get($ProfileGroupListItem, detailColor);
    font: map-get($ProfileGroupListItem, detailFont);
    &_name {
      color: map-get($ProfileGroupListItem, infoColor);
      width: 89%;
    }
    &_rightItem {
      display: flex;
      flex-direction: row;
      &_icon {
        width: rem-calc(12);
        height: rem-calc(12);
        fill: map-get($ProfileGroupListItem, detailColor);
        margin-right: rem-calc(10);
        svg {
          width: rem-calc(15);
          height: rem-calc(15);
          fill: map-get($ProfileGroups, noTesterColor);
        }
      }
      text-align: right;
    }
    cursor: pointer;
    &-selected,
    &:hover {
      background-color: map-get($ProfileGroupListItem, selectedBackground);
      .ProfileGroupListItem_detail_name {
        color: map-get($ProfileGroupListItem, selectedInfoColor);
      }
    }
    &-editMode {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      ~ * {
        pointer-events: none;
        background-color: transparent;
      }
      .TextField {
        height: 100%;
      }
    }
  }
}
