@import "~@appcircle/shared/assets/scss/index.scss";

.HiddenDot {
  height: rem-calc(10);
  width: rem-calc(10);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
