.IconButton {
  &:hover {
    background-color: lighten(map-get($AddButton, background), 10%);
  }
  &:active {
    outline-color: none;
    border: none;
    background-color: darken(map-get($AddButton, background), 15%);
  }
  &_icon {
    justify-content: center;
    fill: map-get($AddButton, color);
  }
  &_text {
    padding-left: 0.5em;
    &:empty {
      padding-left: unset;
      display: none;
    }
    color: map-get($AddButton, color);
    font-size: map-get($AddButton, fontSize);
    font-family: map-get($AddButton, fontFamily);
  }

  &-disabled {
    background-color: map-get($Button, disabledBackground);
    pointer-events: none;
    cursor: not-allowed;
    & > span {
      opacity: 0.8;
    }
  }
}
