.IconTextField {
  @extend %flex-row-center;
  justify-content: flex-start;
  background-color: transparent;
  flex-grow: 1;
  height: rem-calc(32);
  border: 1px solid map-get($IconTextField, textColor);
  border-radius: rem-calc(7);

  &_icon {
    height: rem-calc(16);
    fill: map-get($IconTextField, textColor);
    padding: 0px rem-calc(9);
    box-sizing: content-box;
  }
  &_input {
    flex-grow: 1;
    width: 0;
    color: map-get($IconTextField, textColor);
    font-size: map-get($IconTextField, fontSize);
    font-family: map-get($IconTextField, fontFamily);
    letter-spacing: 0.23px;
    outline: none;
    border: none;
    background-color: transparent;
    &::placeholder {
      color: map-get($IconTextField, textColor);
      opacity: 0.8;
    }
  }
}
