.InfoMessage {
  position: absolute;
  margin-top: auto;
  width: 100%;
  line-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: map-get($Theme, secondaryMid);
  font-family: SFProText-Semibold;
  pointer-events: none;
}
