.InlineTabButtonGroup {
  display: flex;
  flex-direction: row;
  .InlineTabButton {
    border: 1px solid map-get($Theme, primaryMid);
    padding: rem-calc(7);
    font-size: rem-calc(12);
    max-width: 102px;
    width: 102px;
    $radius: 7;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    min-height: unset;
    max-height: rem-calc(34);
    border-radius: unset;
    box-sizing: border-box;
    color: map-get($Theme, primaryMid);
    &-active--true {
      background: map-get($Theme, primaryMid);
      color: white;
    }
    &:first-child {
      border-bottom-left-radius: rem-calc($radius);
      border-top-left-radius: rem-calc($radius);
      border-right: 0ch;
    }
    &:last-child {
      border-bottom-right-radius: rem-calc($radius);
      border-top-right-radius: rem-calc($radius);
    }
  }
}
