.List {
  max-height: rem-calc(200);
  border: 1px solid darken(map-get($Theme, secondaryExtraLight), 5);
  max-height: 225px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  &-noItem--true {
    display: none;
  }
  &-isOpened--false {
    display: none;
  }
  &_item {
    &-selected {
      background: darken(map-get($Theme, secondaryExtraLight), 5) !important;
    }
  }
  li {
    &:hover {
      background: darken(map-get($Theme, secondaryExtraLight), 5);
    }

    > span {
      font-family: HelveticaNeue-Medium;
      font-size: $mediumFontSize;
      color: map-get($Theme, secondary);
      display: block;
    }

    background: map-get($Theme, secondaryExtraLight);
    min-height: rem-calc(20);
    display: block;
    display: flex;
    align-items: center;
    padding: rem-calc(15);
    border-bottom: 1px solid darken(map-get($Theme, secondaryExtraLight), 5);
  }
}
