.MaterialTextBox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent !important;
  border: none;
  &::before {
    background-color: transparent !important;
  }
  height: rem-calc(70);
  width: 100%;
  .mdc-line-ripple {
    display: none;
  }
  .mdc-text-field {
    &__input {
      border-bottom: 1px solid #e7e9ef !important;
      color: #1a3352 !important;
      font-family: SFProText-Regular;
      font-size: rem-calc(18);
      caret-color: #1a3352;
    }
    &__icon {
      fill: #b2c3d9;
      outline: none;
      &:hover {
        fill: lighten(#b2c3d9, 10);
      }
      &:active {
        fill: darken(#b2c3d9, 10);
      }
    }
  }
  .mdc-floating-label {
    color: #b2c3d9 !important;
    font-family: SFProText-Regular;
    font-size: rem-calc(18);
    line-height: rem-calc(24);
    bottom: 40%;

    &--float-above {
      font-family: SFProText-Medium;
      font-size: rem-calc(14);
      line-height: rem-calc(22);
      transform: translateY(-60%) scale(0.75);
    }
  }
}
.mdc-text-field--invalid {
  border-bottom: 0px solid #f44336 !important;
  &:not(.mdc-text-field--disabled) {
    .mdc-floating-label {
      color: #f44336 !important;
    }
  }
}
// .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label
