$ModalView-header-bacground-color: rgba(91, 121, 158, 0.1);
$ModalView-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
$ModalView-bacground-color: #ffffff;
$ModalView-header-text-color: #5b799e;

%modal-header-text {
  font-family: SFProText-Semibold;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}
%header-border {
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1);
}
.ModalDialogHeader {
  display: flex;
  height: 100%;
  flex-grow: 1;
  &-align--center {
    justify-content: center;
  }
  &-align--left {
    align-self: flex-start;
  }
  &-align--right {
    align-self: flex-end;
  }
}
.ModalDialog {
  footer {
    background-color: inherit;
    position: sticky;
    background: white;
    bottom: 0px;
    min-height: $form-footer-h;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 80vh;
  border-radius: 7px;
  box-shadow: $ModalView-box-shadow;
  background-color: $ModalView-bacground-color;
  z-index: 101;
  position: relative;
  pointer-events: all;
  overflow: hidden;

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    @extend %modal-header-text;
    @extend %header-border;
    padding: rem-calc(0) rem-calc(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $ModalView-header-bacground-color;
    line-height: 5.25ch;
    min-height: 5.25ch;
    color: $ModalView-header-text-color;
  }

  &_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

@media #{$medium-h} {
  .ModalDialog {
    width: 600px;
    margin-left: 0px;
    height: 600px;
  }
}
