.ModalWindow {
  footer {
    background-color: inherit;
    position: sticky;
    background: white;
    bottom: 0px;
    min-height: $form-footer-h;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  width: 46%;
  min-width: 500px;
  height: 100%;
  background: white;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-flow: column nowrap;
  font-family: HelveticaNeue-Medium;
  &_header {
    position: sticky;
    top: 0;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 24px;
    background-color: map-get($Theme, secondaryMid);
    &_label {
      font: 1.25rem HelveticaNeue-Bold;
      color: map-get($Theme, primary);
      transition: all 150ms ease-in-out;
      display: flex;
      > * {
        margin-right: rem-calc(10);
      }
    }
    &_close {
      width: 1.5rem;
      height: 1.5rem;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
    }
    &_backButton {
      top: 0;
      position: absolute;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      & + .ModalWindow_header_label {
        margin-left: 1.5rem;
      }
    }
  }
  &_body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
  }
}
