@import "~@appcircle/shared/assets/scss/index.scss";
@import "./modal/index.scss";
@import "./ModalDialog.scss";

.innerComponent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalDialog {
  height: 450px;
}

.modalContainer_close {
  top: 0;
  right: rem-calc(20);
}
