:root {
  --module-nav-w: 16.5rem;
  --module-nav-left: calc(var(--sidebar-spacing) - var(--module-nav-w));
}
.ModuleNavBarContainer {
  .ModuleNavBar {
    $width: 16.5rem;
    width: $width;
    position: fixed;
    z-index: 103;
    background: white;
    height: 100%;
    left: var(--module-nav-left);
    font-family: HelveticaNeue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    user-select: none;

    &-block {
      left: var(--sidebar-width);
      opacity: 1;
    }
    &-isOpen {
      left: var(--sidebar-width);
    }
    &-hidden {
      left: var(--sidebar-spacing);
    }
    &:hover {
      left: var(--sidebar-width);
    }
  }
  .ModuleNavBar_handler {
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    width: rem-calc(24);
    position: absolute;
    height: 100%;
    right: 0;
    transition: opacity 200ms ease-in-out;
    opacity: 1;
    @extend %flex-column-center;
    justify-content: center;
    svg {
      fill: #d5dae8;
    }
    left: 70px;
    z-index: 104;
    &:hover {
      opacity: 0;
    }
    & ~ .ModuleNavBar {
      transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover ~ .ModuleNavBar {
      left: var(--sidebar-width);
      transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
    }
  }
  &:hover .ModuleNavBar_handler:not(:hover) {
    opacity: 0;
  }
}
.ModuleNavBarContainer-block {
  .ModuleNavBar_handler {
    opacity: 0;
  }
}
@media #{$medium-h} {
  .ModuleNavBarContainer {
    &-block {
      .ModuleNavBar_handler {
        opacity: 1;
      }
    }
    .ModuleNavBar {
      transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      &-block {
        left: var(--module-nav-left);
        // opacity: 0;
      }
    }
  }
}
@media #{$medium} {
  .ModuleNavBarContainer {
    .ModuleNavBar {
      transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    }
    .ModuleNavBar_handler {
      transition: none !important;
    }
  }
}
