@import "~@appcircle/shared/assets/scss/index.scss";
@import "./ModuleNavBar.scss";

:root {
  --sidebar-width: 4.375rem;
  --sidebar-spacing-gap: 1.5rem;
  --sidebar-spacing: calc(var(--sidebar-width) + var(--sidebar-spacing-gap));
  --header-spacing: 6.25rem;
  --footer-spacing: 6.25rem;
  --content-spacing: calc(var(--footer-spacing) + var(--header-spacing));
}

.NavBarListHeader {
  margin-top: 24px;
  margin-bottom: 37px;
  margin-left: 30px;
  text-align: left;
  font-family: HelveticaNeue-Medium;
  font-size: 19px;
  letter-spacing: 0.02px;
}
.NavBarListItem {
  position: relative;
  height: 40px;
  margin: 0px 15px;
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 44px;
  text-align: left;
  border-radius: 7px;

  &_link {
    text-decoration: unset;
  }
  &_text {
    text-decoration: unset;
    color: map-get($Theme, secondary);
    margin-left: 13px;
  }
  &-selected,
  &:hover {
    background-color: $NavBarListItem-selected-background;
    .NavBarListItem_text {
      color: map-get($Theme, primaryMid);
    }
  }
}
@media #{$mobile-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
      height: 1.3rem;
      max-height: 1.3rem;
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(25);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(10);
      }
    }
  }
}

@media #{$tablet-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(30);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(15);
      }
    }
  }
}
@media #{$desktop-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(46);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(30);
      }
    }
  }
}

.ModuleNavBarContainer .ModuleNavBar {
  position: absolute;
}
