.OSIcon {
  margin-right: rem-calc(12);
  width: 16px;
  height: 16px;

  &-dark {
    path {
      fill: map-get($Theme, primaryMid);
    }
  }

  &-light {
    path {
      fill: map-get($Theme, secondaryMid);
    }
  }

  &-large {
    width: rem-calc(48);
    height: rem-calc(48);
  }

  &-small {
    width: rem-calc(24);
    height: rem-calc(24);
  }

  &-tiny {
    width: rem-calc(16);
    height: rem-calc(16);
  }

  &-appIcon {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: rem-calc(48);
    height: rem-calc(48);
    background: map-get($Theme, primaryMid);
    padding: 10px;
    border-radius: rem-calc(8);
    path {
      fill: map-get($Theme, secondaryLight);
    }
  }
}
