$NoProfile: (
  iconFillColor: #cdd6e1,
  textFont: rem-calc(16) SFProText-Semibold,
  textColor: #cdd6e1
);
.ProfilesGridView {
  
  &_ProfilesGrid {
    .editModeOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 25;
      transition: opacity 300ms ease-out;
      
      &-show--true {
        display: block;
        opacity: 0.8;
      }
      &-show--false {
        opacity: 0;
        display: none;
      }
    }
    --grid-gap: var(--content-gap, #{rem-calc(16)});
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(360), auto));
    padding-top: var(--grid-gap);
    padding-right: var(--grid-gap);
    max-width: 100%;
    overflow: auto;
    flex-grow: 1;
    background-color: map-get($Theme, secondaryExtraLight);
    max-height: calc(100% - var(--header-h) + var(--grid-gap));

    > div {
      margin-bottom: var(--grid-gap);
      margin-left: var(--grid-gap);

      @media #{$mobile} {
      }

      @media #{$tablet} {
      }

      @media #{$desktop} {
      }
    }

    .ProfileCard {
      position: relative;
      transition-property: transform, border;
      transition: 300ms ease-out;
      &-highlighted {
        transition: border 300ms ease-out !important;
        border: 1px solid map-get($Theme, warning);
      }

      &-inEditMode {
        z-index: 26;
        transform: scale(1.03);
      }
    }
  }
}

.NoProfile {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  @extend %flex-column-center;
  &_icon {
    fill: map-get($NoProfile, iconFillColor);
    min-height: rem-calc(120);
    min-width: rem-calc(113.5);
  }
  &_text {
    margin-top: rem-calc(31);
    font: map-get($NoProfile, textFont);
    line-height: 1.56;
    letter-spacing: rem-calc(0.2);
    text-align: center;
    color: map-get($NoProfile, textColor);
    white-space: pre-line;
  }
}

@media #{$medium-h} {
  .ProfilesGridView {
    .ProfileCard {
      max-width: 100% !important;
    }
  }
}
