$CardItem-background: #ffffff;
$CardItem-shadow-color: #e6e9ef;
$CardItem-appversionText-color: map-get($Theme, primaryMid);
$CardItem-appversionText-empty-color: map-get($Theme, primaryLight);
$CardItem-title-color: map-get($Theme, primaryMid);
$CardItem-infoUser-title-color: map-get($Theme, primaryMid);
$CardItem-profile-icon-color: map-get($Theme, primaryMid);
$CardItem-version-icon-color: map-get($Theme, primaryExtraLight);

$TDProfileCard: (
  //actionIconColor: #cdd6e1,
    actionIconColor: map-get($Theme, primaryExtraLight),
  contextMenuBackground: map-get($Theme, primaryMid),
  contextMenuColor: #ffffff,
  contextMenuSeperatorColor: map-get($Theme, primaryLight),
  contextMenuShadowColor: rgba(0, 0, 0, 0.2)
);

%version-font {
  font-family: HelveticaNeue-Medium;
  font-size: rem-calc(15);
}

%small-icon {
  width: 15px;
  height: 15px;
}

%rightTop-icon-size {
  width: 17px;
  height: 17px;
}

%title-font {
  font-family: HelveticaNeue-Bold;
  font-size: 20px;
}

%seperator {
  border: solid 1px rgba(218, 221, 230, 0.35);
}

%box-margin-left {
  padding-left: 20px;
}

%info-title {
  font-family: HelveticaNeue;
  font-size: rem-calc(13);
  letter-spacing: -0.1px;
  color: map-get($Theme, primaryMid);
}
%setting-title {
  height: rem-calc(16);
  font-family: HelveticaNeue;
  font-size: rem-calc(13);
  letter-spacing: 0.2px;
  color: map-get($Theme, primaryLight);
}
%data-font {
  font-family: HelveticaNeue-Bold;
}
%info-user-font {
  font-family: HelveticaNeue-Bold;
  margin-left: 8px;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.ProfileCard {
  position: relative;
  width: auto;
  height: fit-content;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 $CardItem-shadow-color;
  background-color: $CardItem-background;
  padding-top: rem-calc(15);
  flex-flow: column wrap;
  position: relative;
  transition: background 100ms ease-in-out;
  border: 1px solid rgba(248, 248, 248, 0);
  &-enabledText {
    color: map-get($Theme, primaryMid) !important;
  }
  &:hover {
    // background: rgba(248, 248, 248, 0.945);
    border: 1px solid #5b799e;
  }
  &_head {
    display: flex;
    @extend %box-margin-left;
    justify-content: flex-start;
    width: calc(100% - 90px);
    // min-height: rem-calc(50);
    &_icon {
      margin-right: rem-calc(18);
      & > svg {
        margin: unset;
      }
    }
    &_title {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      align-self: center;
      min-height: rem-calc(50);
      // max-width: rem-calc(180);
      .TextField {
        @extend %title-font;
        color: $CardItem-title-color;
        max-width: fit-content;
        opacity: 0.9;
        white-space: pre-line;
        word-break: break-all;
        width: 100%;
        &-readonly {
          opacity: 1;
        }
      }
      > a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: lighten($CardItem-title-color, 25%);
        }
      }
    }
    &_icon {
      display: flex;
      flex-flow: column wrap;
      border-radius: 8px;
      width: 48px;
      #star {
        fill: white;
      }
      #rectangle {
        fill: $CardItem-version-icon-color;
      }
    }
  }
  &_pin {
    position: absolute;
    top: 60px;
    fill: darken($CardItem-version-icon-color, 10);
    cursor: pointer;
    // transform: scale(0.8);
    right: 20px;
    &:hover {
      fill: $CardItem-version-icon-color;
    }
  }

  &_rightTop {
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;

    &_more {
      @extend %rightTop-icon-size;
    }
  }

  &_subTitles {
    display: flex;
    @extend %box-margin-left;
    flex-flow: column wrap;
    margin-top: rem-calc(20);
    min-height: rem-calc(55);
    padding-bottom: rem-calc(25);
    &_icon {
      width: rem-calc(35);
      text-align: center;
    }
    &_text {
      @extend %version-font;
      color: $CardItem-appversionText-color;
    }
    &_item {
      @extend %flex-row-center;
      svg {
        fill: $CardItem-version-icon-color;
      }

      margin-top: rem-calc(9);
      &:first-child {
        margin-top: none;
      }
      &-empty {
        & > div {
          color: $CardItem-appversionText-empty-color;
        }
      }
    }
  }
  &_upseperator {
    display: flex;
    @extend %seperator;
  }

  &_downseperator {
    display: flex;
    @extend %seperator;
  }

  &_info {
    @extend %box-margin-left;
    display: flex;
    justify-content: space-between;
    height: auto;
    font-size: inherit;
    font-family: inherit;
    min-height: 3ch;
    align-items: center;
    padding: rem-calc(10) rem-calc(20);
    &_time {
      display: flex;
      flex-flow: column nowrap;
      &_item {
        @extend %flex-row-center;
        & > div {
          line-height: 2ch;
          position: relative;
          :first-child {
            @extend %info-title;
          }
          :last-child {
            @extend %info-title;
            @extend %data-font;
            white-space: pre;
          }
        }
        &:first-child {
          margin-top: none;
        }
      }
    }
    &_archive {
      display: flex;
      align-self: center;
      margin-right: 15px;
      align-items: center;
      svg {
        @extend %small-icon;
        fill: $CardItem-profile-icon-color;
      }
      & > div {
        @extend %info-user-font;
        color: $CardItem-infoUser-title-color;
      }
    }
  }
  &_setting {
    @extend %box-margin-left;
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(15);
    display: flex;
    flex-flow: column wrap;

    &_item {
      @extend %flex-row-center;
      margin-top: rem-calc(9);

      :first-child {
        @extend %setting-title;
      }
      :last-child {
        @extend %setting-title;
        @extend %data-font;
        margin-left: 3px;
      }
      &:first-child {
        margin-top: none;
      }
    }
  }
  &-inEditMode {
    box-shadow: 0 2px 4px 0 lighten($CardItem-infoUser-title-color, 30);
    .ProfileCard_head_title {
      max-width: 100%;
    }
    .TextField {
      //border-bottom: 2px solid $CardItem-title-color;
    }

    .ProfileCard_info_archive {
      opacity: 0.5;
    }
    .ProfileCard_info_time_item:last-child {
      span {
        opacity: 0.5;
      }
    }
  }
  &-inprogress {
    pointer-events: none;
    .ProfileCard_info_time_item:first-child {
      // z-index: 1;
    }
    .Spinner {
      --spinner-color: #{$CardItem-infoUser-title-color};
      height: rem-calc(16);
      width: rem-calc(16);
      z-index: 10;
    }
  }
  &_overlay {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @extend %absolute-full;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .icon-selected {
    fill: #1a3252;
    // width: 16px;
    // height: 16px;
    margin-right: rem-calc(12);
  }
  .icon-unselected {
    fill: map-get($Theme, primaryExtraLight);
  }
  .ThreeDotsToggle {
    position: absolute;
    background-color: transparent;
    // right: 0;
    // top: 0;
    &_icon {
      background-color: transparent;
      svg {
        fill: map-get($TDProfileCard, actionIconColor);
      }
      &-isOpen {
        svg {
          fill: map-get($TDProfileCard, contextMenuBackground);
        }
      }
    }
    .ContextMenu {
      top: rem-calc(32);
      --menu-background-color: #{map-get($TDProfileCard, contextMenuBackground)};
      --menu-seperator-color: #{map-get(
          $TDProfileCard,
          contextMenuSeperatorColor
        )};
      --menu-color: #{map-get($TDProfileCard, contextMenuColor)};
      --menu-hover-background: #{darken(
          map-get($TDProfileCard, contextMenuBackground),
          10
        )};
      box-shadow: 0 1px 3px 0 map-get($TDProfileCard, contextMenuShadowColor);
    }
  }
}
