@keyframes loader {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -90px 0;
  }
}

.stripeAnimation {
  animation: loader 0.8s linear infinite forwards;
  background: repeating-linear-gradient(
    50deg,
    rgba(153, 153, 153, 0.05),
    rgba(153, 153, 153, 0.05) 30px,
    rgba(255, 255, 255, 0.08) 30px,
    rgba(255, 255, 255, 0.08) 70px
  );
  background-size: 1000px;
  width: 100%;
  font-size: rem-calc(12) !important;
  height: 100%;
}

.ProgressView {
  @extend %absolute-full;
  overflow: hidden !important;
  max-height: 100%;
  z-index: 10;
  display: none;

  &-show--true {
    display: block;
  }

  &-is-overlay--false {
    ~ div {
      display: none;
    }
  }

  .SpinnerWithText {
    position: unset;
  }
  &_overlay {
    background: rgba($color: #ffffff, $alpha: 0.7);
    width: 100%;
    height: 100%;
    @extend %flex-column-center;
    justify-content: center;
  }
}
