@import "~@appcircle/shared/assets/scss/index.scss";

.ScrollView_scrollNav {
  position: absolute;
  background: #ff8f34;
  right: 20px;
}

.ScrollView_scrollNav_top {
  bottom: calc(50% + 15px);
}

.ScrollView_scrollNav_bottom {
  bottom: calc(50% - 15px);
}

.ScrollParagraphExample {
  padding: 10px;
  padding-right: 50px;
}
