.ScrollView {
  &_scrollNav {
    @extend .Button;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    width: 20px;
    font-family: inherit;
    line-height: 20px !important;
    vertical-align: middle;
    border-radius: 5px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    min-height: auto;
    z-index: 1;
    right: 10px;
    &_top {
      bottom: 105px;
      transform: rotate(-90deg);
    }
    &_bottom {
      bottom: 80px;
      transform: rotate(90deg);
    }
  }
}
