.SearchField {
  position: relative;
  height: auto;
  width: auto;
  flex-grow: 1;
  min-height: 2rem;
  .IconTextField {
    min-height: 100%;
  }
  .TinyCloseButton {
    position: absolute;
    right: rem-calc(5);
    top: calc(50% - #{rem-calc(9)});
    bottom: auto;
  }
  &_icon {
  }
  input {
    margin-right: rem-calc(15);
    &::placeholder {
      color: #a1aab2;
      font-size: 15px;
      font-family: HelveticaNeue-Medium;
    }
  }
}
