.SpinnerWithText {
  @extend %absolute-center;
  @extend %flex-column-center;
  justify-content: center;
  --color: #{map-get($SpinnerWithText, color)};
  color: var(--color);
  font-family: map-get($SpinnerWithText, fontFamily);
  font-size: map-get($SpinnerWithText, fontSize);
  .Spinner {
    --spinner-color: var(--color);
  }
  & > span {
    margin-top: rem-calc(18);
  }
}
