.Spinner {
  position: relative;
  width: rem-calc(25);
  height: rem-calc(25);
  display: inline-block;
  --spinner-color: rgb(90, 90, 90);

  div {
    width: 10%;
    height: 25%;
    background: var(--spinner-color);
    position: absolute;
    left: 49%;
    top: 41%;
    opacity: 0;
    -webkit-border-radius: 28%;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-animation: fade 1s linear infinite;
  }

  div:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
  }

  div:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(0, -130%);
    -webkit-animation-delay: -0.875s;
  }

  div:nth-child(3) {
    -webkit-transform: rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.75s;
  }
  div:nth-child(4) {
    -webkit-transform: rotate(135deg) translate(0, -130%);
    -webkit-animation-delay: -0.625s;
  }
  div:nth-child(5) {
    -webkit-transform: rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
  }
  div:nth-child(6) {
    -webkit-transform: rotate(225deg) translate(0, -130%);
    -webkit-animation-delay: -0.375s;
  }
  div:nth-child(7) {
    -webkit-transform: rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.25s;
  }
  div:nth-child(8) {
    -webkit-transform: rotate(315deg) translate(0, -130%);
    -webkit-animation-delay: -0.125s;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
