.SubmitButton {
  font-size: 0.9375rem;
  min-width: rem-calc(150);
  width: auto;
  .Spinner {
    --spinner-color: #fff;
  }

  &-disabled {
    background-color: map-get($Button, disabledBackground);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.8;
  }
  &-inprogress {
    justify-content: flex-start;
    display: flex;
    span {
      margin-left: rem-calc(15);
    }
    .Spinner {
      position: relative;
      color: var(--primary-color);
      margin-left: rem-calc(15);
    }
  }
}
