.SwitchPanel {
  width: 100%;
  // &_header {
  //   &_title {
  //     margin-left: rem-calc(18);
  //     line-height: rem-calc(40);
  //     color: map-get($Theme, primaryLight);
  //   }

  //   &_selected {
  //   }
  // }
  .Switch {
    right: 0.875rem;
  }
}
