.SwitchButton {
  @extend %flex-row-center;
  &_item {
    @extend %flex-row-center;
    justify-content: center;
    width: 44px;
    height: 32px;
    cursor: pointer;
    background-color: transparent;
    &_icon {
      height: 17px;
      fill: map-get($SwitchButton, selectedItemColor);
    }
    &-selected {
      background-color: map-get($SwitchButton, selectedItemColor);
      .SwitchButton_item_icon {
        fill: map-get($SwitchButton, itemColor);
      }
      cursor: default;
    }
    &:first-child {
      border: 1px solid map-get($SwitchButton, selectedItemColor);
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border-right: none;
    }
    &:last-child {
      border: 1px solid map-get($SwitchButton, selectedItemColor);
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      border-left: none;
    }
  }
}
