.TabView {
  @extend %flex-column;
  box-shadow: 0 1px 0 0 map-get($TabView, shadowColor);
  overflow: hidden;
  height: 100%;

  &_tabs {
    min-height: rem-calc(46);
    flex-grow: 1;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    background-color: white;
    z-index: 4;
    @extend %flex-row-center;
    justify-content: center;
    height: rem-calc(45);
    color: map-get($TabView, tabColor);
    box-shadow: 0 1px 0 0 map-get($TabView, shadowColor),
      0 -1px 0 0 map-get($TabView, shadowColor);
    font-family: map-get($TabView, primaryFontFamily);
    font-size: map-get($TabView, primaryFontSize);

    &_tab {
      .requiredIndicator {
        position: absolute;
        z-index: 1;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        margin-left: 2px;
        margin-top: 2px;
        background-color: map-get($Theme, warning);
      }
      position: relative;
      cursor: pointer;
      text-align: center;
      @extend %flex-row-center;
      justify-content: center;
      width: rem-calc(150);
      height: 100%;
      &-selected {
        box-shadow: 0 2px 0 0 map-get($TabView, tabActiveColor);
        color: map-get($TabView, tabActiveColor);
      }
      > div {
        position: relative;
        .requiredIndicator {
          left: -(rem-calc(8));
          top: -(rem-calc(3));
        }
      }
    }
  }

  &_content {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
  }
}
