.TagComponent {
  @extend %flex-row-center;
  justify-content: center;
  color: map-get($TagComponent, primaryColor);
  border: 1px solid map-get($TagComponent, primaryColor);
  margin-right: rem-calc(10);
  line-height: 4ch;
  border-radius: rem-calc(4);
  font-size: map-get($TagComponent, fontSize);
  font-family: map-get($TagComponent, fontFamily);
  & > span {
    padding: 0px rem-calc(11);
  }
  &_icon {
    fill: map-get($TagComponent, primaryColor);
    margin-left: rem-calc(5);
    & + span {
      padding-left: rem-calc(7);
    }
  }
  &_close {
    cursor: pointer;
    margin-right: 0.3rem;
  }
  &-disabled {
    background: #f0ecec;
    pointer-events: none;
  }
}
