$TextButton-color: #ff8f22;
$TextButton-border-color: #ff8f34;
%textButton-font {
  font-family: HelveticaNeue-Medium;
  font-size: rem-calc(15);
}
$TextButton-Danger-Border-Color: map-get($Theme, warning);
$TextButton-Danger-Text-Color: map-get($Theme, warning);

.TextButton {
  @extend %flex-row-center;
  justify-content: center;
  border-radius: rem-calc(7);
  border: 1px solid $TextButton-border-color;
  padding: 0 rem-calc(15);
  height: rem-calc(30);
  min-width: rem-calc(43);
  width: auto;
  cursor: pointer;
  color: $TextButton-color;
  @extend %textButton-font;
  user-select: none;
  & > div {
    margin-top: rem-calc(2);
    white-space: nowrap;
  }
  &-primary {
    &:hover {
      color: lighten($TextButton-color, 15%);
      border-color: lighten($TextButton-border-color, 15%);
    }
    &:active {
      color: darken($TextButton-color, 15%);
      border-color: darken($TextButton-border-color, 15%);
    }
  }
  &-danger {
    color: $TextButton-Danger-Text-Color;
    border-color: $TextButton-Danger-Border-Color;
    &:hover {
      background-color: transparent;
      border-color: lighten($TextButton-Danger-Border-Color, 15%);
      color: lighten($TextButton-Danger-Text-Color, 15%);
    }
    &:active {
      background-color: transparent;
      border-color: darken($TextButton-Danger-Border-Color, 15%);
      color: darken($TextButton-Danger-Text-Color, 15%);
    }
  }
}
