.TextField {
  flex-grow: 1;
  width: 0;
  padding: 0px;
  color: map-get($IconTextField, textColor);
  font-size: map-get($IconTextField, fontSize);
  font-family: map-get($IconTextField, fontFamily);
  letter-spacing: 0.23px;
  outline: none;
  border: none;
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  &::placeholder {
    color: map-get($IconTextField, textColor);
    opacity: 0.8;
  }
  &-readonly {
    user-select: none;
    white-space: pre-wrap;
  }
}
