.ThreeDotsToggle {
  user-select: none;
  right: 0;
  position: absolute;
  z-index: 25;
  margin: auto;
  cursor: pointer;
  cursor: hand;

  &_icon {
    @extend .Button;
    width: rem-calc(40) !important;
    height: rem-calc(40) !important;
    border-radius: 7px;
    // border: 1px solid map-get($Theme, secondaryLight);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    // position: sticky;
    justify-content: center;
    z-index: -1;

    fill: map-get($Theme, primaryMid);
    &:hover {
      fill: map-get($Theme, primaryLight);
    }
    &-isOpen {
      // border: 1px solid map-get($Theme, secondary);
      fill: map-get($Theme, primaryLight);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      svg {
        transform: rotate(90deg);
      }
    }

    &-dark {
      fill: unset;
    }

    background-color: map-get($DropdownMenu, background) !important;

    svg {
      width: rem-calc(16);
    }
  }
  .ContextMenu {
    width: auto;
    min-width: rem-calc(190);

    .ContextMenuItem {
      height: rem-calc(40);
      width: auto;
      > span {
        width: auto;
        white-space: nowrap;
      }
    }
  }
}
