.TinyCloseButton {
  // position: absolute;
  // right: rem-calc(5);
  height: rem-calc(20);
  width: rem-calc(20);
  transform: scale(0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  cursor: hand;
  transition: transform 0.2ms;
  border-radius: 10px;

  > svg {
    transform: scale(0.8);
  }

  &_secondary {
    &:hover {
      background: map-get($Theme, secondary);

      path {
        fill: map-get($Theme, secondaryLight);
      }
    }
  }

  &_warning {
    &:hover {
      background: map-get($Theme, warning);

      path {
        fill: map-get($Theme, secondaryLight);
      }
    }
  }

  &_danger {
    &:hover {
      background: map-get($Theme, danger);

      path {
        fill: map-get($Theme, secondaryLight);
      }
    }
  }
}
