.toast {
  opacity: 0;
  min-width: 400px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 2px;
  padding: 8px 11px;
  position: absolute;
  z-index: 1000;
  right: 50px;
  bottom: 30px;
  font: map-get($Toast, messageFont);
  letter-spacing: 0.2px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(0);
  align-items: center;
  transition: transform 100ms ease-out;

  &.show {
    opacity: 1;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.hide {
    opacity: 0;
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
    pointer-events: none;
  }
  &__close {
    height: 8px;
    width: 8px;
    background: white;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
  }
  &.success {
    background-color: map-get($Toast, successBackground);
  }
  &.error {
    background-color: map-get($Toast, errorBackground);
  }
  &.general {
    background-color: map-get($Toast, generalBackground);
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    // transform: translateY(1%);
    opacity: 0;
  }
  to {
    // transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    // transform: translateY(1%);
    opacity: 0;
  }
  to {
    // transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    // transform: translateY(0px);
    opacity: 1;
  }
  to {
    // transform: translateY(-5px);
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    // transform: translateY(0px);
    opacity: 1;
  }
  to {
    // transform: translateY(-5px);
    opacity: 0;
  }
}
