.ToolTip {
  position: absolute;
  font: map-get($ToolTip, font);
  background: map-get($ToolTip, backgroundColor);
  border-radius: map-get($ToolTip, radius);
  color: map-get($ToolTip, textColor);
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 4ch;
  transition-property: opacity, left, top, bottom, right, transform;
  transition: 200ms ease-out;
  font-family: HelveticaNeue-Bold;

  > div {
    display: inline;
  }

  flex-direction: column;
  justify-content: baseline;
}
[data-tooltip="bottom"] {
  &:hover {
    + .ToolTip,
    .ToolTip {
      transform: translateY(-10px);
    }
  }

  + .ToolTip,
  .ToolTip {
    transform: translateY(0px);
  }
}
[data-tooltip="top"] {
  &:hover {
    + .ToolTip,
    .ToolTip {
      transform: translateY(10px);
    }
  }

  + .ToolTip,
  .ToolTip {
    transform: translateY(0px);
  }
}

[data-tooltip="right"] {
  &:hover {
    + .ToolTip,
    .ToolTip {
      transform: translateX(-10px);
    }
  }
  + .ToolTip,
  .ToolTip {
    transform: translateX(0px);
  }
}
[data-tooltip] {
  &:hover {
    + .ToolTip,
    .ToolTip {
      opacity: 1;
    }
  }

  + .ToolTip,
  .ToolTip {
    // TODO: Make left variablle
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }
}

@media (hover: none) {
  .ToolTip {
    display: none !important;
  }
}
