.UserWarning {
  > div {
    flex-grow: 1;
    &:first-child {
      path {
        fill: map-get($Theme, primaryMid);
      }
      margin-right: rem-calc(15);
      max-width: 10%;
    }
  }
  color: #5b799e;
  font-family: SFProText-Semibold;
  &_message {
    margin-bottom: rem-calc(10);
  }
  display: flex;
  flex-direction: row;
  color: map-get($Theme, primaryMid);
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 15px;
  font-size: rem-calc(13);
}
