.SelectBox {
  position: relative;
  &-visible--false {
    display: none;
  }
  > select {
    display: block;
    width: 100%;
    color: #1a3352;
    background-color: #fff;
    padding-left: 1rem;
    background-clip: padding-box;
    border: 1px solid #f5f6f9;
    border-radius: rem-calc(5);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 1px 0 0 map-get($RadioGroup, shadowColor);
    font-family: map-get($Select, itemFontFamily);
    font-size: rem-calc(15);
    background-color: #f5f6f9;
    height: rem-calc(40);
    cursor: pointer;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
.SelectBoxTriangleIcon {
  position: absolute;
  right: 1rem;
  top: rem-calc(18);
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: #a5b5c9 transparent transparent transparent;
  pointer-events: none;
}
