.SIDAndroidKeyStoresDataTable {
  .BasicDataGridRow {
    &:hover {
      .SIDAndroidKeyStoresDataTable_toolbar svg {
        opacity: 1;
      }
    }
  }
  &_name {
    width: 75%;
    color: #5b799e;
  }
  &_expired {
    width: 15%;
  }
  &_toolbar {
    width: 10%;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    svg {
      opacity: 0;
      cursor: pointer;
      height: 15px;
    }
  }
}
