.dataTableToolsRow {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  svg {
    margin-right: rem-calc(5);
    opacity: 0;
    cursor: pointer;
    height: 15px;
  }
}
.SIDCertificatesDataTable {
  .BasicDataGridRow {
    &:hover {
      .SIDCertificatesDataTable_toolbar svg {
        opacity: 1;
      }
    }
  }
  &_name {
    width: 40%;
  }
  &_type {
    width: 15%;
  }
  &_extension {
    width: 15%;
  }
  &_expired {
    width: 15%;
  }
  &_toolbar {
    width: 15%;
  }
  .SIDDataTable_header {
    padding: 0;
  }
}
