.SIDKeystoreDataTable {
  .BasicDataGridRow {
    &:hover {
      .SIDKeystoreDataTable_delete svg {
        opacity: 1;
      }
    }
  }
  &_name {
    width: 35%;
  }
  &_aliases {
    width: 45%;
  }
  &_expired {
    width: 15%;
  }
  &_delete {
    width: 5%;
    text-align: right;
    svg {
      transition: all 50ms ease-in-out;
      cursor: pointer;
      opacity: 0;
      height: 15px;
    }
  }
  &_row {
    &_certificate {
      text-align: center;
      color: #6fba6c;
    }
    &_name {
      color: #5b799e;
    }
  }
}
