.SIDProvisioningProfileDataTable {
  .BasicDataGridRow {
    &:hover {
      .SIDProvisioningProfileDataTable_tools svg {
        opacity: 1;
      }
    }
  }
  &_name {
    width: 35%;
  }
  &_appID {
    text-align: center;
    width: 30%;
  }
  &_certificate {
    width: 15%;
    text-align: center;
  }
  &_expired {
    width: 15%;
  }
  &_tools {
    width: 10%;
  }
  &_row {
    &_certificate {
      text-align: center;
      color: #6fba6c;
    }
    &_name {
      color: #5b799e;
    }
  }
}
