.TagsField {
  .TaggableTextField {
    padding: 0;
    margin: 0;
    .Form_field {
      height: auto;
    }
  }

  textarea {
    padding-top: rem-calc(7);
  }
  .TaggableTextField_child_tag {
    margin: rem-calc(2);
  }
  .TaggableTextField_child {
    padding: rem-calc(3);
  }
}
