.NotificationModal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  padding: rem-calc(30);

  &_noItems {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > div {
      margin-top: rem-calc(22);
      color: map-get($Theme, secondaryMid);
    }
  }
  .NotificationList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .NotificationListItem {
    display: flex;
    position: relative;
    flex-direction: row;
    &_body {
      flex-direction: column;
      flex-grow: 1;
      display: flex;
      overflow-y: hidden;
    }
    &_calendar {
      color: darken(map-get($Theme, secondaryMid), 10);
      font-size: rem-calc(12);
    }
    &_message {
      width: 100%;
      word-wrap: break-word;
    }
    background-color: map-get($Theme, secondaryLight);
    &_header {
      margin-bottom: rem-calc(3);
      font-family: HelveticaNeue-Bold;
      &-warning {
        color: map-get($Theme, warning);
      }
      &-error {
        color: map-get($Theme, danger);
      }
      &-success {
        color: map-get($Theme, success);
      }
      &-info {
        color: map-get($Theme, success);
      }
    }
    &_tools {
      width: rem-calc(20);
    }

    border-bottom: 1px solid map-get($Theme, secondaryMid);
    &:last-child {
      border-bottom: unset;
    }
    color: darken(map-get($Theme, secondaryMid), 30);
    font-family: HelveticaNeue;
    font-size: 0.9rem;
    min-height: rem-calc(80);
    height: auto;
    padding: rem-calc(8) rem-calc(8) rem-calc(8) rem-calc(12);
  }
}
