.Switch {
  position: relative;
  height: rem-calc(19);
  width: rem-calc(30);
  cursor: pointer;
  &_thumb {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: rem-calc(19);
    border-radius: rem-calc(19);
    position: absolute;
    left: 0;
    height: 100%;
    box-shadow: 0 1px 2px 0 map-get($Switch, thumbShadowColor);
    background-color: map-get($Switch, thumbColor);
  }
  &_line {
    transition: background-color 200ms ease-in-out;
    @extend %absolute-center;
    width: 100%;
    height: rem-calc(9);
    border-radius: rem-calc(5);
    background-color: map-get($Switch, lineColor);
  }
  &_on {
    .Switch_line {
      background-color: map-get($Switch, lineActiveColor);
    }
    .Switch_thumb {
      // @extend %absolute-right-center;
      left: 16px;
    }
  }
  &-disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
