@import "~@appcircle/shared/assets/scss/index.scss";

@import "~@material/react-text-field/dist/text-field.css";
@import "~simplebar/dist/simplebar.css";

@import "~@appcircle/ui/index.scss";
@import "~@appcircle/form/src/Form.scss";

pp {
  text-align: center;
}
a {
  text-decoration: none;
  color: map-get($Theme, primaryMid);
}
.simplebar-scrollbar {
  width: 6px !important;
  opacity: 0.6 !important;
  right: 0px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  > div#root {
    width: 100%;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
  color: map-get($Theme, secondary);
}

@media (min-width: size(viewport, sm)) {
  .container {
    width: size(container, sm);
  }
}

.modal {
  width: 300px;
  height: 300px;
  background: black;
  opacity: 0.5;
}

@import "./shared/shared.scss";
@import "./modules/profiles/Profiles.scss";
@import "~fonts/index.scss";

// ToDo
// Remove login
@import "./modules/auth/AuthPages.scss";
@import "./modules/distribute/module.scss";

@import "./modules/build/index.scss";
@import "./modules/signing_identities/index.scss";
@import "./modules/notification/index.scss";
@import "./modules/settings/index.scss";
@import "./modules/store_submit/index.scss";

.transitionWrapper {
  width: 100%;
  height: 100%;
}
//TODO Remove
.EmptyPageContent {
  @extend %flex-row-center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: HelveticaNeue-Medium;
  text-align: center;
  white-space: pre-line;
}

.loaderFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BodyContainer {
  transition: 0.75s ease all;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
