.ShellOutput {
  height: 100%;
  padding: 1em;

  // code {
  font-size: rem-calc(12);
  pre {
    font-size: rem-calc(14);
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }
  color: white;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  // }

  overflow: auto;
  .logs {
    &Error {
      color: map-get($Theme, danger);
    }

    &Section {
      display: block;
      background-color: rgba($color: #ffffff, $alpha: 0.2);
      padding: rem-calc(5);
      position: relative;
      user-select: none;
      &-error {
        &--true {
          background-color: map-get($Theme, danger);
          color: white !important;
        }
      }
      &_start {
        &::after {
          position: absolute;
          right: 1rem;
        }

        &-opened {
          &--true {
            &::after {
              content: "-";
            }
          }
          &--false {
            &::after {
              content: "+";
            }
          }
        }
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      color: map-get($Theme, success) !important;
      &:not(:first-child) {
        margin-top: 10px;
      }
      display: block;
    }
  }
}
