%backgroundCenter {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.MainLayout {
  position: relative;
  display: flex;
  height: 100%;
}
.layoutItem {
  width: 100%;
}

:root {
  --sidebar-width: 4.375rem;
  --sidebar-spacing-gap: 1.5rem;
  --sidebar-spacing: calc(var(--sidebar-width) + var(--sidebar-spacing-gap));
  --header-spacing: 6.25rem;
  --footer-spacing: 6.25rem;
  --content-spacing: calc(var(--footer-spacing) + var(--header-spacing));
}

.modulePage {
  transition: opacity 300ms, transform 300ms;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  &-enter {
    opacity: 0;
    transform: translate(-20%, 0);
  }
  &-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  }
  &-exit {
    opacity: 1;
    transform: translate(-20%, 0);
  }
  &-exit-active {
    opacity: 0;
  }
}
#root {
  position: relative;
  height: 100vh;
}

.container {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.75s ease margin-top;
  position: relative;

  header {
    @extend .layoutItem;
    height: var(--header-spacing);
    background: blue;
  }

  footer {
    @extend .layoutItem;
    height: var(--footer-spacing);
    background: red;
  }

  main {
    margin-left: var(--sidebar-spacing);
    background-color: #f5f6f9;
    @extend %absolute-center;
    overflow: hidden;
    &.pushRight {
      margin-left: calc(var(--sidebar-width) + var(--module-nav-w));
    }
  }
}

nav {
  position: absolute;
  z-index: 105;
  width: var(--sidebar-width);
  background: white;
  height: 100%;
}

.MainNavBar {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  position: relative;
  transition: 0.75s ease height;

  &_root {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: $MainNavBar-background;
    align-content: space-between;
  }
  &_user {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: calc(2.25rem / 2);
    @extend %backgroundCenter;
    margin: 30% auto;
    transition: all 300ms ease-in;
  }
  &_logo {
    height: 2rem;
    max-height: unset !important;
    margin-top: 0.5rem !important;
    margin-top: rem-calc(4) !important;
    @extend %backgroundCenter;
    background-image: url("../../images/app_circle_icon.svg");
  }
  &_items {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    &_top {
      position: relative;
      margin-top: 1rem;
      .MainNavBarItem {
        margin-top: getMargin(40, 1040);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(30);
      }
    }
  }
}

.MainNavBarItem {
  position: relative;
  width: 100%;
  max-height: 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: rem-calc(28);
  }
  svg {
    // width: 100%;
    // height: 100%;
    fill: $MainNavBarItem-normal-icon-fill;
  }
  &_overlay {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    pointer-events: none;
  }
  &-selected,
  &:hover {
    svg {
      fill: $MainNavBarItem-selected-icon-fill;
    }
    .MainNavBarItem_overlay {
      background-color: $MainNavBarItem-selected-background;
    }
  }
  // .ToolTip {
  //   left: 61px;
  //   white-space: nowrap;
  //   opacity: 0;
  //   pointer-events: none;
  // }
}

.messagingLayer {
  @extend .windowOverlay;
  pointer-events: all;
}

.NavBarListHeader {
  margin-top: 24px;
  margin-bottom: 37px;
  margin-left: 30px;
  text-align: left;
  font-family: HelveticaNeue-Medium;
  font-size: 19px;
  letter-spacing: 0.02px;
}
.NavBarListItem {
  position: relative;
  height: 40px;
  margin: 0px 15px;
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 44px;
  text-align: left;
  border-radius: 7px;

  &_link {
    text-decoration: unset;
  }
  &_text {
    text-decoration: unset;
    color: map-get($Theme, secondary);
    margin-left: 13px;
  }
  &-selected,
  &:hover {
    background-color: $NavBarListItem-selected-background;
    .NavBarListItem_text {
      color: map-get($Theme, primaryMid);
    }
  }
  &_badge {
    position: absolute;
    display: block;
    width: 26px;
    height: 20px;
    line-height: 20px;
    right: 9px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-family: SFProText-Bold;
    font-size: 12px;
    letter-spacing: 0.18px;
    text-align: center;
    background-color: $NavBarListItem-badge-background;
    border-radius: 5px;
    color: map-get($Theme, secondary);
  }
}

@media #{$mobile-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
      height: 1.3rem;
      max-height: 1.3rem;
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(25);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(10);
      }
    }
  }
}

@media #{$tablet-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(30);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(15);
      }
    }
  }
}
@media #{$desktop-h} {
  .MainNavBar_items {
    .MainNavBarItem_link {
    }
    &_top {
      .MainNavBarItem {
        margin-top: rem-calc(46);
      }
    }
    &_bottom {
      .MainNavBarItem {
        margin-top: rem-calc(30);
      }
    }
  }
}
@media #{$medium-h} {
  .container {
    main {
      &.pushRight {
        margin-left: var(--sidebar-spacing);
      }
    }
  }
}
