.BasicDataGridRow {
  @extend %flex-row-center;
  position: relative;
  text-align: left;
  color: map-get($ProfileTestersTableItem, primaryColor);
  font-size: $mediumFontSize;
  font-family: map-get($ProfileTestersTableItem, primaryFontFamily);
  min-height: rem-calc(70);
  padding: rem-calc(14);
  > div,
  > span {
    overflow: hidden;
    // padding-right: rem-calc(10);
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .ThreeDotsToggle {
    z-index: unset;
  }

  .CheckBox {
    margin-right: rem-calc(10);
    width: unset;
    padding: unset;
  }
  // &_emailteam {
  //   @extend %flex-column;
  //   width: 52%;
  //   justify-content: flex-start;
  //   :first-child {
  //     color: map-get($ProfileTestersTableItem, secondaryColor);
  //   }
  // }
  // &_device {
  //   width: 22%;
  // }
  // &_versionstatus {
  //   @extend %flex-column;
  //   justify-content: flex-start;
  //   :first-child {
  //     font-family: map-get($ProfileTestersTableItem, secondaryFontFamily);
  //   }
  //   &-completed {
  //     :last-child {
  //       color: map-get($ProfileTestersTableItem, statusCompleteColor);
  //     }
  //   }
  // }

  &_body {
  }

  &-selected {
    background-color: #f9fafb;
  }
  border-bottom: 1px solid map-get($ProfileTestersTableItem, seperatorColor);
  &:last-child {
    border-bottom: none;
  }
  &_header {
    box-sizing: border-box;
    margin-right: unset;
    min-height: fit-content;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: map-get($ProfileTestersTableItem, headerBackground);
    color: map-get($ProfileTestersTableItem, headerColor);
    .BasicDataGridRow_emailteam {
      :first-child {
        color: map-get($ProfileTestersTableItem, headerColor);
      }
    }
    border-bottom: none;
  }
}

.BasicDataGrid {
  position: relative;
  @extend %flex-column;
  flex-grow: 1;

  .ScrollView {
    flex-grow: 1;
  }

  border-radius: rem-calc(7);
  max-height: rem-calc(330);
  // box-shadow: 0 rem-calc(2) rem-calc(4) 0
  //   map-get($ProfileDetail, testersTableShadowColor);
  overflow: auto;
  &-header {
    @extend %flex-row-center;
    justify-content: space-between;
    padding-left: rem-calc(19);
    padding-top: rem-calc(21);
    padding-bottom: rem-calc(19);
    padding-right: rem-calc(16);
    span {
      letter-spacing: 0.2px;
      color: map-get($ProfileDetail, testersTableHeaderColor);
      font-family: map-get($ProfileDetail, testersTableHeaderFontFamily);
      font-size: map-get($ProfileDetail, testersTableHeaderFontSize);
    }
    .TextButton {
      width: auto;
    }
  }
}
