.LandingPage {
  &_tip {
    @extend .Form_tip;
    margin-bottom: rem-calc(20);
  }

  &_title {
    color: #1a3352;
    font-family: HelveticaNeue-Medium;
    font-size: rem-calc(15);
    > * {
      border-radius: rem-calc(5);
      border: solid 1px #e5e8ef;
      background-color: #f5f6f9;
      padding: rem-calc(10) 0 rem-calc(10) rem-calc(18);
      cursor: pointer;
    }
    > *:not(:last-child) {
      margin-bottom: rem-calc(25);
    }
    > *:hover {
      background-color: #ebecee;
    }
    &_disabled {
      color: #a4acb4;
      pointer-events: none;
    }
  }

  &_pageButton {
    position: relative;
  }

  &_arrow {
    position: absolute;
    right: rem-calc(10);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
