$Form: (
  bacgroundcolor: map-get($Theme, secondaryExtraLight),
  titleFont: rem-calc(32) SFProText-Regular,
  titleColor: map-get($Theme, primary),
  subTitleDefinationFont: rem-calc(15) SFProText-Medium,
  subTitleDefinationColor: map-get($Theme, primary),
  subTitleLinkFont: rem-calc(15) SFProText-Medium,
  subTitleLinkColor: map-get($Theme, info),
  checkboxBorderColor: white,
  textButtonColor: #ffffff,
  textButtonBackgrounColor: map-get($Theme, info),
  textButtonFontFamily: HelveticaNeue-Bold,
  formFooterFont: rem-calc(15) SFProText-Regular,
  formFooterTextColor: map-get($Theme, primary),
  formFooterRightTextColor: #8ca5c5,
  continueTextFont: rem-calc(15) SFProText-Regular,
  continueTextColor: #b2c3d9,
  inputBacgroundColor: white,
  logoTextColor: #c8d7f7,
  smartfaceNameFillColor: #ffffff,
  logoTextFamily: SFProText-Bold,
  headingColor: #5b799e
);
$ButtonWithIconMap: (
  textColor: #000000,
  textFont: rem-calc(18) SFProText-Medium,
  bacgroundColor: #ffffff,
  fillColor: #1b1f23,
  shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
);
.SignUp {
  .FormComponent {
    --margin-bottom: 0;
  }
  .Form_error {
    margin-top: -23px !important;
    left: 10px;
  }
}
.LoginForm {
  a {
    color: map-get($Theme, primaryLight);
    text-decoration: underline;
  }

  .Form .FormComponent:last-child {
    margin-bottom: unset !important;
  }

  .Form_error {
    margin-top: 6px;
    left: 10px;
  }

  overflow: hidden;

  &_formTools {
    margin-top: rem-calc(28);
    width: 100%;
    @extend %flex-row-center;
    justify-content: space-between;
    &_leftItem {
      @extend %flex-row-center;
      &_text {
        font: map-get($Form, formFooterFont);
        text-align: center;
        color: map-get($Form, formFooterTextColor);
      }
    }
    &_rightItem {
      font: map-get($Form, formFooterFont);
      text-decoration: underline;
      text-align: center;
      letter-spacing: -0.2px;
      color: map-get($Form, formFooterRightTextColor);
    }
  }
  &_formFooter {
    margin-top: rem-calc(45);
    text-align: center;
    a {
      display: block;
      margin-top: rem-calc(26);
    }
  }
  form {
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
    @extend %flex-column-center;
    position: relative;
  }
  height: 100%;
  background-color: map-get($Form, bacgroundcolor);
  display: flex;
  flex-direction: row;
  &_sidebar {
    overflow: hidden;
    width: 35%;
    position: relative;
    @extend %flex-row-center;
    background-color: #1a3352;
    background-size: contain;
    background-repeat: no-repeat;
    &_logo {
      font-size: rem-calc(32);
      left: 1.7em;
      width: rem-calc(250);
      height: 10%;
      position: absolute;
      top: 2vw;
      path {
        &:first-child {
          fill: white;
        }
      }
    }
    &_advertisement {
      width: 80%;
      height: 60%;
    }
    &_text {
      left: 1.7em;
      font-family: map-get($Form, logoTextFamily);
      font-size: rem-calc(32);
      color: map-get($Form, logoTextColor);
      position: absolute;
      bottom: 1.2em;
      white-space: pre-line;
      line-height: 1;
      user-select: none;
    }
  }
  &_main {
    &_logo {
      display: none;
      height: 18%;
      top: rem-calc(30);
      position: absolute;
    }
    justify-content: center;
    overflow-y: hidden;
    @extend %flex-column-center;
    position: relative;
    width: 65%;
    &_box {
      margin-top: 10vh;
      width: 59%;
      @extend %flex-column-center;
      justify-content: center;
      max-width: rem-calc(450);
      &_title {
        margin-bottom: rem-calc(20);
        font: map-get($Form, titleFont);
        letter-spacing: -0.4px;
        text-align: center;
        color: map-get($Form, titleColor);
      }
      &_subtitle {
        @extend %flex-row-center;
        justify-content: center;
        &_defination {
          font: map-get($Form, subTitleDefinationFont);
          font-size: rem-calc(14);
          letter-spacing: -0.2px;
          text-align: center;
          color: map-get($Form, subTitleDefinationColor);
        }
        &_link {
          font: map-get($Form, subTitleLinkFont);
          letter-spacing: -0.2px;
          margin-left: rem-calc(3);
          color: map-get($Form, subTitleLinkColor) !important;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &_input {
        background-color: map-get($Form, inputBacgroundColor);
        border-radius: rem-calc(5);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        margin-top: rem-calc(49);
        width: 100%;
      }

      &_continueText {
        font: map-get($Form, continueTextFont);
        margin-top: rem-calc(48);
        letter-spacing: -0.2px;
        text-align: center;
        color: map-get($Form, continueTextColor);
      }
    }
    .CheckBox {
      background-color: map-get($Form, checkboxBorderColor);
      border: 1px solid map-get($Form, checkboxBorderColor);
      border-radius: rem-calc(3);
      width: rem-calc(15);
      height: rem-calc(15);
      margin-right: rem-calc(15);
    }
    .IconButton {
      position: relative;
      margin-top: rem-calc(27);
      width: rem-calc(320);
      height: rem-calc(50);
      cursor: pointer;
      background-color: map-get($ButtonWithIconMap, bacgroundColor);
      &_text {
        padding-left: 0.1em;
        font: map-get($ButtonWithIconMap, textFont);
        letter-spacing: -0.2px;
        text-align: center;
        color: map-get($ButtonWithIconMap, textColor);
        margin-left: rem-calc(16);
      }
      &_icon {
        fill: map-get($ButtonWithIconMap, fillColor);
        position: absolute;
        left: rem-calc(14);
      }
      &:hover {
        background-color: lighten(
          map-get($ButtonWithIconMap, bacgroundColor),
          10%
        );
      }
      &:active {
        outline-color: none;
        border: none;
        background-color: darken(
          map-get($ButtonWithIconMap, bacgroundColor),
          15%
        );
      }
    }
    .Button {
      padding: 0 rem-calc(15);
      font-family: map-get($Form, textButtonFontFamily);
      font-size: rem-calc(19);
    }
    &_submit {
      position: relative;
      height: rem-calc(50);
      font-family: map-get($Form, textButtonFontFamily);
      font-size: rem-calc(19);
      .Spinner {
        margin-left: 0px;
      }
      input {
        z-index: -1;
        background-color: transparent;
        @extend %absolute-full;
        opacity: 0;
        padding: 0 rem-calc(15);
        width: calc(100% + #{rem-calc(30)});
      }
    }
  }
  &_heading {
    color: map-get($Form, headingColor);
    font-family: SFProText-Semibold;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(16);
    display: block;
  }
}

@media #{$mobile} {
  main {
    height: 100% !important;
  }
  .LoginForm {
    flex-direction: column;
    align-items: center;
    background-color: map-get($Form, bacgroundcolor);

    &_sidebar {
      width: 100%;
      position: relative;
      flex-direction: column;
      &_logo {
        height: 10%;
        display: flex;
        z-index: 1;
        fill: map-get($Form, smartfaceNameFillColor);
      }
      &_advertisement {
        min-width: rem-calc(640);
        min-height: rem-calc(400);
        position: absolute;
        top: 10vw;
        right: -40%;
      }
      &_text {
        font-family: map-get($Form, logoTextFamily);
        color: map-get($Form, logoTextColor);
        top: rem-calc(101);
        white-space: pre-line;
        line-height: 0.97;
      }
    }
    &_main {
      &_logo {
        display: block;
      }
      width: 100%;
      height: 100%;
      &_box {
        min-width: rem-calc(360);
        &_subtitle {
          width: 100%;
          &_link {
            margin-left: rem-calc(1);
          }
        }
        &_continueText {
          margin-top: rem-calc(46);
        }
        &_input {
          margin-top: rem-calc(51);
        }
      }
    }
  }
}

@media #{$tablet} {
  .LoginForm {
    flex-direction: column;
    align-items: center;
    background-color: map-get($Form, bacgroundcolor);
    &_sidebar {
      min-height: rem-calc(254);
      width: 100%;
      position: relative;
      overflow: hidden;
      flex-direction: column;
      &_logo {
        display: flex;
        margin-top: rem-calc(38);
        top: auto;
        fill: map-get($Form, smartfaceNameFillColor);
      }
      &_advertisement {
        min-width: rem-calc(384);
        min-height: rem-calc(254);
        height: 150%;
        position: absolute;
        top: 10vw;
        right: -24%;
      }
      &_text {
        font-family: map-get($Form, logoTextFamily);
        font-size: rem-calc(30);
        color: map-get($Form, logoTextColor);
        top: rem-calc(101);
        white-space: pre-line;
        line-height: 0.97;
      }
    }
    &_main {
      &_logo {
        display: block;
      }
      width: 100%;
      height: 100%;
      &_box {
        min-width: rem-calc(500);
        &_continueText {
          margin-top: rem-calc(46);
        }
        &_input {
          margin-top: rem-calc(51);
        }
      }
    }
  }
}

@media #{$desktop-lg} {
  .LoginForm {
    width: 100%;
    &_sidebar {
      &_text {
        font-size: rem-calc(38);
        line-height: 0.94;
        letter-spacing: -0.5px;
      }
      &_advertisement {
        width: 80%;
        height: 400%;
        margin-top: -10%;
      }
    }
  }
}

@media #{$mobile-minh} {
  .LoginForm {
    justify-content: center;
    &_sidebar {
      display: none;
    }
  }
}
