.ProfileGroups {
  width: 100%;
  height: 100%;
  @extend %flex-row;
  background-color: map-get($ProfileGroups, background);

  &_main {
    position: relative;
    @extend %flex-row-center;
    min-height: rem-calc(70);
    box-shadow: 0 1px 0 0 map-get($ProfileGroups, boxShadowColor);
    padding: rem-calc(0) rem-calc(15);
    justify-content: space-between;
    background-color: map-get($ProfileGroups, bacgroundColor);

    &_name {
      color: map-get($ProfileGroups, nameColor);
      font: map-get($ProfileGroups, nameFont);
    }
    .AddButton {
      width: rem-calc(40);
      height: rem-calc(40);
    }
  }
  &_list {
    position: relative;
    background-color: map-get($ProfileGroups, listBackground);
    width: rem-calc(400);
    box-shadow: 1px 0 0 0 map-get($ProfileGroups, listShadowColor);
    overflow: hidden;
    @extend %flex-column;
  }
  & > .SpinnerWithText {
    position: relative;
    flex-grow: 1;
  }
  &_detail {
    flex-grow: 1;
    @extend %flex-column;
    background-color: map-get($ProfileGroups, detailBackground);
    margin-left: 1px;
  }

  .ProfileGroupHeader {
    height: rem-calc(140);
    box-shadow: 0 -1px 0 0 map-get($ProfileGroups, headerShadowColor);
    background-color: map-get($ProfileGroups, headerBackground);
    .AddEmailComponent {
      padding-top: rem-calc(18);
    }
    &_title {
      @extend %flex-row-center;
      position: relative;
      justify-content: space-between;
      box-shadow: 0 1px 0 0 map-get($ProfileGroups, headerShadowColor);
      height: 50%;
      &_main {
        &_h1 {
          font: map-get($ProfileGroups, titleFont);
          letter-spacing: 0.2px;
          color: map-get($ProfileGroups, titleColor);
        }
        &_h2 {
          font: map-get($ProfileGroups, subTitleFont);
          letter-spacing: 0.2px;
          color: map-get($ProfileGroups, subTitleColor);
        }
      }
    }
  }
  &_testersTable {
    @extend %flex-column;
    border-radius: rem-calc(7);
    box-shadow: 0 2px 4px 0 map-get($ProfileGroups, testersTableShadowColor);
    background-color: map-get($ProfileGroups, testersTableBackground);
    margin: rem-calc(16);
    flex-grow: 1;
    overflow: hidden;
    &_testers {
      @extend %flex-row-center;
      justify-content: space-between;
      padding-left: rem-calc(19);
      min-height: rem-calc(62);
      padding-right: rem-calc(16);
      & > span {
        letter-spacing: 0.2px;
        color: map-get($ProfileGroups, testersTableHeaderColor);
        font-family: map-get($ProfileGroups, testersTableHeaderFontFamily);
        font-size: map-get($ProfileGroups, testersTableHeaderFontSize);
      }
      .TextButton {
        height: rem-calc(30);
        width: auto;
      }
    }
    .BasicDataGrid {
      flex-grow: 1;
      height: 100%;
      max-height: unset;
    }
  }
  &_notesters {
    @extend %flex-column-center;
    justify-content: center;
    height: 100%;
    svg {
      height: rem-calc(94);
      fill: map-get($ProfileGroups, noTesterColor);
    }
    span {
      margin-top: rem-calc(24);
      color: map-get($ProfileGroups, noTesterColor);
      font-family: map-get($ProfileGroups, noTesterFontFamily);
      font-size: map-get($ProfileGroups, noTesterFontSize);
      letter-spacing: 0.2px;
    }
  }

  .ProfileGroupsList {
    flex-grow: 1;
    overflow-y: hidden;
    &_scrollbar {
      padding-top: rem-calc(15);
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
      overflow-y: auto;
    }
    &_item {
      margin-bottom: rem-calc(9);
    }
    @extend %flex-column;
  }

  .ProfileGroupListItem {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    border-width: rem-calc(1);
    border-style: solid;
    border-color: map-get($ProfileGroupListItem, borderColor);
    border-radius: rem-calc(7);
    height: rem-calc(60);
    letter-spacing: 0.2px;
    &_detail {
      @extend %flex-row-center;
      justify-content: flex-start;
      margin-left: rem-calc(15);
      margin-right: rem-calc(24);
      color: map-get($ProfileGroupListItem, detailColor);
      font: map-get($ProfileGroupListItem, detailFont);
      &_name {
        color: map-get($ProfileGroupListItem, infoColor);
        width: 89%;
      }
      &_testersNum {
        &_icon {
          width: rem-calc(12);
          height: rem-calc(12);
          fill: map-get($ProfileGroupListItem, detailColor);
          margin-right: rem-calc(5);
        }
        text-align: right;
      }
    }
    cursor: pointer;
    &-selected,
    &:hover {
      background-color: map-get($ProfileGroupListItem, selectedBackground);
      .ProfileGroupListItem_detail_name {
        color: map-get($ProfileGroupListItem, selectedInfoColor);
      }
    }
  }
}
