.ContextMenuItem {
  @extend %flex-row-center;
  justify-content: flex-start;
  position: relative;

  padding-left: rem-calc(11);
  padding-right: rem-calc(11);
  svg {
    width: rem-calc(18);
    // margin-left: rem-calc(11);
    margin-right: rem-calc(15);
  }
  span {
    color: inherit;
    font-size: map-get($MenuItem, primaryFontSize);
    font-family: map-get($MenuItem, primaryFontFamily);
  }
  a {
    @extend %absolute-center;
  }
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: rem-calc(7);
    border-bottom-right-radius: rem-calc(7);
  }
  &:first-child {
    border-top-left-radius: rem-calc(7);
    border-top-right-radius: rem-calc(7);
  }
  &-selected {
  }
}
