@import "./ContextMenuItem.scss";

.ContextMenu {
  --menu-background-color: #{map-get($DropdownMenu, background)};
  --menu-seperator-color: #{map-get($MenuItem, seperatorColor)};
  --menu-color: #{map-get($MenuItem, primaryColor)};
  --menu-hover-background: #{darken(map-get($DropdownMenu, background), 10)};
  @extend %flex-row-center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
  width: rem-calc(190);
  border-radius: rem-calc(7);
  background-color: var(--menu-background-color);
  z-index: 100;
  box-shadow: 0 3px 6px 0 map-get($DropdownMenu, shadowColor);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
  .disabled {
    opacity: unset;
    fill-opacity: 0.2;
    cursor: not-allowed;
    * {
      color: #{lighten(map-get($MenuItem, primaryColor), 20)};
    }
  }
  &_items {
    @extend %flex-column;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    .ContextMenuItem {
      height: rem-calc(40);

      color: var(--menu-color);
      border-bottom: 1px solid var(--menu-seperator-color);
      svg {
        fill: var(--menu-color);
      }
      &:hover {
        background-color: var(--menu-hover-background);
      }
      &-light {
      }
    }
  }
  &-dark {
    background: map-get($ContextMenuDarkTheme, backgroundColor);

    svg {
      path {
        fill: map-get($ContextMenuDarkTheme, fill) !important;
      }
      fill: map-get($ContextMenuDarkTheme, fill) !important;
    }
    .disabled {
      * {
        color: #{lighten(map-get($MenuItem, primaryColor), 10)} !important;
      }
    }
    .ContextMenuItem {
      * {
        color: map-get($ContextMenuDarkTheme, color);
      }

      &:hover {
        background: map-get($ContextMenuDarkTheme, hoverColor) !important;
      }
    }
  }
}
