$CheckBox: (
  checkboxBorderColor-active: #5b799e,
  heckboxBorderColor: #d6d8dd,
  fillColor: #5b799e
);
.CheckBox {
  // @extend %flex-column-center;
  color: map-get($RadioGroup, itemColor);
  font-size: map-get($RadioGroup, itemFontSize);
  width: 100%;
  padding: rem-calc(20);

  &_rect {
    justify-content: center;
    @extend %flex-column-center;
    border: 1px solid map-get($CheckBox, heckboxBorderColor);
    border-radius: 3px;
    width: rem-calc(15);
    height: rem-calc(15);
    > svg {
      display: none;
    }
  }

  &-selected {
    .CheckBox_rect {
      > svg {
        display: block;
        fill: map-get($CheckBox, fillColor);
      }
      border: 1px solid map-get($CheckBox, checkboxBorderColor-active);
    }
    .Toggle_header_title {
      color: map-get($Theme, primaryMid) !important;
    }
    .RadioButton_circle {
      circle:first-child {
        stroke: map-get($RadioGroup, activeItemColor);
      }
      circle:last-child {
        fill: map-get($RadioGroup, activeItemColor);
      }
    }
  }

  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &_title {
    // font-weight: bold;
  }
  .Toggle_header_title {
    margin: unset;
    line-height: unset;
  }
  &_expression {
    font-weight: normal;
    margin-top: rem-calc(10);
  }
  &_elemment {
    @extend %flex-row-center;
    justify-content: space-between;
    height: rem-calc(45);
  }
  .Toggle_header {
    max-height: unset;
  }
}
