.CheckBoxGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  &_item {
    display: flex;
    cursor: pointer;
    &_container {
      width: 100%;
      opacity: 0.3;
      &-selected {
        opacity: 1;
      }
    }
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
