.DistributionProfileDetailInfo {
  &_fileName {
    color: map-get($ProfileDetailInfo, fileNameColor);
    font-size: map-get($ProfileDetailInfo, largeFontSize);
    font-family: map-get($ProfileDetailInfo, primaryFontFamily);
  }
  &_bundleName {
    color: map-get($ProfileDetailInfo, bundleNameColor);
    font-size: map-get($ProfileDetailInfo, normalFontSize);
    font-family: map-get($ProfileDetailInfo, secondaryFontFamily);
    margin-top: rem-calc(3);
    max-width: calc(100% - #{rem-calc(80)});
    overflow: auto;
  }
  &_tags {
    @extend %flex-row-center;
    font-size: map-get($ProfileDetailInfo, smallFontSize);
    font-family: map-get($ProfileDetailInfo, primaryFontFamily);
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(30);
    overflow: auto;
    max-width: calc(100% - #{rem-calc(80)});
    &_newTag {
      border-radius: rem-calc(4);
      border: solid 1px $AddTag-border-color;
      margin-right: rem-calc(10);
      text-align: center;
      @extend %flex-row-center;
      justify-content: center;
      .TextField {
        padding-left: rem-calc(11);
        font-size: map-get($ProfileDetailInfo, smallFontSize);
        font-family: map-get($ProfileDetailInfo, primaryFontFamily);
        min-height: rem-calc(26);
        min-width: rem-calc(110);
      }
    }
    .IconButton {
      padding: 0;
      height: rem-calc(26);
      width: rem-calc(26);
      border-radius: rem-calc(4);
      border: solid 1px $AddTag-border-color;
      color: $AddTag-color;
      background-color: transparent;
      min-height: unset;
      > svg {
        fill: $AddTag-fill-color;
      }
      &-disabled {
        border-color: map-get($Button, disabledBackground);
        > svg {
          fill: map-get($Button, disabledBackground);
        }
      }
      &:hover {
        border: solid 1px $AddTag-border-color;
        border-color: lighten($AddTag-border-color, 15%);
      }
      &:active {
        border: solid 1px $AddTag-border-color;
        border-color: darken($AddTag-border-color, 15%);
      }
    }
  }
}
