.DistributionProfileDetailHeader {
  &_title {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    &_versions {
      font-family: HelveticaNeue-Bold;
      font-size: rem-calc(20);
      color: #1a3352;
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      &_channel {
        font: map-get($ProfileDetailListItem, versionTagFont);
      }
    }
    &_badges {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: rem-calc(12);
      color: map-get($ProfileDetailListItem, versionTagColor);
      font: map-get($ProfileDetailListItem, tagFont);
      > * {
        display: flex;
        justify-content: center;
        padding: 0 rem-calc(7);
        width: auto;
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
      &-V {
        background: #98a1ab;
      }
      &-S {
        background-color: map-get(
          $ProfileDetailListItem,
          versionTagSBackground
        );
      }
    }
  }
  &_subtitle {
    font-size: calc(16);
    color: #98a1ab;
    font-family: HelveticaNeue-Medium;
  }
}
