.ProfileTestersTableItem {
  @extend %flex-row-center;
  text-align: left;
  color: map-get($ProfileTestersTableItem, primaryColor);
  font-size: map-get($ProfileTestersTableItem, primaryFontSize);
  font-family: map-get($ProfileTestersTableItem, primaryFontFamily);
  height: rem-calc(60);
  // > div > div {
  //   color: map-get($ProfileTestersTableItem, headerColor);
  //   word-wrap: break-word;
  // }
  &_emailteam {
    width: 33%;
    justify-content: flex-start;
  }
  &_sentDate {
    width: 27%;
    justify-content: flex-start;
  }
  &_status {
    width: 20%;
    justify-content: flex-start;
    &-completed {
      :last-child {
        color: map-get($ProfileTestersTableItem, statusCompleteColor);
      }
    }
  }
  &_version {
    @extend %flex-column;
    width: 15%;
    justify-content: flex-start;
  }
  &-header {
    height: rem-calc(30);
    background-color: map-get($ProfileTestersTableItem, headerBackground);
    color: map-get($ProfileTestersTableItem, headerColor);
  }
  &_seperator {
    height: 1px;
    background-color: map-get($ProfileTestersTableItem, seperatorColor);
  }
}
