@keyframes collapsedTrue {
  0% {
    max-height: 75px;
  }
  50% {
    max-height: 125px;
  }
  100% {
    max-height: 200px;
  }
}
@keyframes collapsedFalse {
  0% {
    max-height: 200px;
  }
  50% {
    max-height: 125px;
  }
  100% {
    max-height: 75px;
  }
}

.CommitTable {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  a {
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }

  .buildActions {
    text-align: right;
    margin-right: rem-calc(10);
  }

  &_row {
    width: 100%;
    flex: inherit;
    display: inherit;
    overflow: unset !important;
    & > div {
      height: 100%;
    }
  }

  .ProgressView {
    cursor: pointer;
    cursor: hand;
  }
  .TinyCloseButton {
    align-self: center;
  }

  .playButton {
    text-align: center;
    box-shadow: unset !important;
    height: auto;
    cursor: pointer;
    align-self: center;
    margin: 0 auto;
    path {
      fill: map-get($Theme, primaryMid);
    }
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    .TagComponent {
      margin-top: rem-calc(5);
      height: 3.5ch;
    }
  }
  > .BasicDataGrid {
    max-height: unset;
    width: 100%;
    overflow-y: auto;
    .BasicDataGridRow-header {
      display: flex;
      align-items: center;
    }
    .BasicDataGridRow {
      display: flex;
      align-items: center;
      .CommitTable_col_toolbox {
        min-height: 40px;
        display: flex;
      }
    }
  }
  /**TODO: Take color values from from variables.css*/

  --row-3: 3;
  --row-8: 8;
  --row-4: 4;
  --row-5: 5;
  --row-1: 1;
  --row-2: 2;
  --row-6: 6;
  --row-7: 7;

  &_colSize1 {
    flex-grow: 1;
  }

  &_colSize2 {
    flex-grow: 2;
  }

  &_colSize3 {
    flex-grow: 3;
  }

  &_colSize4 {
    flex-grow: 4;
  }
  &_colSize5 {
    flex-grow: 5;
  }
  &_colSize6 {
    flex-grow: 6;
  }
  &_colSize7 {
    flex-grow: 7;
  }
  &_colSize8 {
    flex-grow: 8;
  }

  --version-w: 15%;
  --date-w: 15%;
  --col-gap: #{rem-calc(10)};

  &_gridHeader {
    width: 0;
    min-width: auto;
    max-width: auto;

    &:not(:last-of-type) {
      padding-right: var(--col-gap);
    }
    &_hash {
      min-width: rem-calc(80) !important;
      max-width: rem-calc(80) !important;
    }
    &_message {
      word-wrap: break-word;
      overflow: hidden;
    }
    &_author {
      text-align: center;
    }
    &_builds {
      // var(--builds-w);
    }
  }
  &_col {
    width: 0;
    min-width: auto;
    max-width: auto;
    text-overflow: ellipsis;
    font-size: rem-calc(14);
    &:not(:last-of-type) {
      padding-right: var(--col-gap);
    }

    &_hash {
      word-wrap: unset !important;
      min-width: rem-calc(80) !important;
      max-width: rem-calc(80) !important;
    }
    &_message {
    }
    &_author {
      text-align: center;
    }
    &_buildingStatus {
      font-family: HelveticaNeue-Medium;
      display: flex;
      flex-direction: row;
      > div {
        margin-right: 5px;
      }
      .Spinner {
        width: 20px;
        height: 15px;
      }
    }

    &_buildStatus {
      font-family: HelveticaNeue-Medium;
      user-select: none;
      display: flex;
      flex-direction: column;
      &_child {
        &_hasBuild--true {
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        display: flex;
        justify-content: space-between;
        user-select: none;
        // margin-top: rem-calc(6);
        // padding-top: rem-calc(6);
        padding-right: rem-calc(6);
        border-top: 1px solid #eef1f5;
        &:first-child {
          margin-top: 0;
          border-top: unset;
        }
      }

      &-success {
        color: map-get($CommitTable, successColor);
      }
      &-failed {
        color: map-get($CommitTable, failedColor);
      }
      &-canceled {
        color: map-get($Theme, warning);
      }
      &-timeout {
        color: map-get($CommitTable, warn);
      }
      &-building {
        color: map-get($CommitTable, buildingColor);
      }
      &-opened {
        &--none {
          max-height: 75px;
        }
        &--true {
          animation: collapsedTrue 300ms ease-out forwards;
        }
        &--false {
          animation: collapsedFalse 300ms ease-out forwards;
        }
      }
    }

    &_builds {
      position: relative;
      height: auto;
      &_version {
        height: 20px;
      }
      // &_collapse {
      //   position: absolute;
      //   width: 100%;
      //   top: 0;
      //   left: 0;
      //   border-bottom: 1px solid map-get($Theme, secondaryMid);
      //   height: 20px;
      //   cursor: pointer;
      //   &:hover {
      //     .CommitTable_col_builds_collapse_icon {
      //       top: 8px;
      //       &-opened--true {
      //         top: 3px;
      //       }
      //     }
      //   }
      //   &_icon {
      //     transition: 200ms ease-out;
      //     transition-property: top;
      //     transform: rotateZ(0);
      //     &-opened--true {
      //       transform: rotateZ(180deg);
      //     }
      //     position: absolute;
      //     right: 20px;
      //     top: 5px;
      //   }
      // }
    }
    &_date {
      font-size: rem-calc(10);
    }

    &_toolbox {
      position: relative;
      overflow: unset !important;
      > div {
        margin: 0 auto;
      }
    }
  }
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: rem-calc(15);
    min-height: rem-calc(60);
    padding-left: rem-calc(15);
    div:first-child {
      flex-grow: 1;
    }
    .SearchField {
      flex-grow: 1;
      max-width: rem-calc(275);
    }
  }
  .circle_text {
    user-select: none;
    background: map-get($CircleText, background);
    text-transform: uppercase;
    width: 4ch;
    line-height: 4ch;
    margin: 0 auto;
    border-radius: 50%;
    color: map-get($CircleText, color);
    font-family: HelveticaNeue-Bold;
  }
  &_noData {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($CircleText, color);
    font-family: HelveticaNeue-Medium;
  }
}
