.StoreSubmitProfileDetailHeader {
  position: sticky;
  top: 0px;
  background-color: #eff1f5;
  z-index: 100;

  .ProfileDetailHeader_rightItem {
    display: flex;
    flex-grow: 0;
    text-align: center;
  }

  &_title {
    font-family: HelveticaNeue-Bold;
    font-size: rem-calc(18);
    color: map-get($Theme, primaryMid);
    min-height: rem-calc(25);
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    a {
    }
  }
  &_subTitle {
    font-family: HelveticaNeue-Bold;
    font-size: rem-calc(14);
    color: map-get($Theme, secondary);
    min-height: rem-calc(25);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &_date {
    display: flex;
    margin-top: 2px;
    color: #98a1ab;
    font-family: HelveticaNeue-Medium;
  }
}

a[rel="noopener noreferrer nofollow"]:after {
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg height="1024" width="768" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%235b799e" d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z" /%3E%3C/svg%3E');
  background-size: cover;
  display: inline-block;
  width: 0.6em;
  height: 0.75em;
  top: 0.05em;
  position: relative;
  left: 0.2em;
  margin-right: 0.2em;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
