.StoreSubmitProfileDetailInfo {
  padding: rem-calc(17);
  padding-left: rem-calc(1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_left {
    .ProfileVersions_appInfo {
      padding: rem-calc(5);

      &_name {
        word-break: normal;
      }

      &_info {
        display: flex;
        flex-direction: column;
        &-package {
          color: #5b799e;
          font-size: 1rem;
          font-family: HelveticaNeue-Medium;
          margin-top: 0.1875rem;
          max-width: calc(100% - 5rem);
        }
      }
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    height: 1rem;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #a5b5c9;
    font-family: HelveticaNeue-Bold;
    width: rem-calc(300);

    &-child {
      display: flex;
      justify-content: space-between;
      &--label {
        width: rem-calc(150);
        text-align: right;
      }

      &--value {
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: rem-calc(150);
      }
    }
  }
}
