.windowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: unset;
}

%flex-row {
  display: flex;
  flex-flow: row nowrap;
}

%flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

%flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

%absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

%absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

%absolute-left-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

%absolute-right-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.absolute-left-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.absolute-right-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
