$root-font-size: 16;

:root {
  --size-gutter: 30px;
  --size-spacer: 15px;
  --size-container-sm: 750px;
  --size-container-md: 970px;
  --size-container-lg: 1170px;
  --size-viewport-sm: 768px;
  --size-viewport-md: 992px;
  --size-viewport-lg: 1200px;
}

@function rem-calc($size) {
  $remSize: $size / $root-font-size;
  @return #{$remSize}rem;
}

@function getMargin($defaultMargin, $screenHeight) {
  $margin: ($defaultMargin * $screenHeight) / 1040;
  @return rem-calc($margin);
}

// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
// retrieve size from map with Sass ie. `size(viewport, sm)`
@function size($size-name, $size-variant: null) {
  // size variant is optional
  @if ($size-variant != null) {
    // map inception, need two names
    @return var(--size-#{$size-name}-#{$size-variant});
  } @else {
    // single-level size, one name
    @return var(--size-#{$size-name});
  }
}
// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
@function color($color-name, $color-variant: null, $true-val: false) {
  // if we are returning the true color value
  @if $true-val == true {
    // color variant is optional
    @if ($color-variant != null) {
      // map inception, need two deep
      @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
      // single-level color, one deep
      @return map-get($colors, $color-name);
    }

    // if we’re only returning the CSS4 variable
  } @else {
    // color variant is optional
    @if ($color-variant != null) {
      // map inception, need two names
      @return var(--color-#{$color-name}-#{$color-variant});
    } @else {
      // single-level color, one name
      @return var(--color-#{$color-name});
    }
  }
}

.firstLetterUpper {
  &::first-letter {
    text-transform: uppercase;
  }
}
