$Theme: (
  primaryDark: #1a3352,
  primary: #1a3352,
  primaryMid: #5b799e,
  primaryLight: #a5b5c9,
  primaryExtraLight: #cdd6e1,
  secondary: #9ba4ad,
  secondaryMid: #cdd6e1,
  secondaryLight: #eff1f5,
  secondaryExtraLight: #f5f6f9,
  secondaryUltraLight: #ffffff,
  info: #ff8f34,
  warn: #ffe134,
  warning: #ff8f34,
  danger: #da4444,
  success: #6fba6c
);
