$modal-footer-h: rem-calc(70);
$form-footer-h: rem-calc(70);

$button-color: #fff;
$MainNavBar-background: map-get($Theme, primary);
$MainNavBarItem-selected-background: rgba(map-get($Theme, info), 0.15);
$MainNavBarItem-selected-icon-fill: map-get($Theme, info);
$MainNavBarItem-normal-icon-fill: map-get($Theme, primaryMid);
$NavBarListItem-background: #ffffff;
$NavBarListItem-selected-background: map-get($Theme, secondaryLight);
$NavBarListItem-color: map-get($Theme, secondary);
$NavBarListItem-selected-color: map-get($Theme, secondary);
$NavBarListItem-badge-background: map-get($Theme, primaryMid);
$NavBarListItem-badge-color: map-get($Theme, secondaryExtraLight);

$xlargeFontSize: rem-calc(20);
$largeFontSize: rem-calc(16);
$mediumFontSize: rem-calc(14);
$smallFontSize: rem-calc(12);
$xsmallFontSize: rem-calc(11);

$ProfileGroupListItem: (
  selectedBackground: map-get($Theme, secondaryMid),
  borderColor: #afbdcf,
  infoColor: #5b799e,
  selectedInfoColor: map-get($Theme, primary),
  detailColor: #98a1ab,
  tagFont: rem-calc(11) HelveticaNeue-Bold,
  detailFont: rem-calc(14) HelveticaNeue-Medium,
  sizeFont: rem-calc(14) HelveticaNeue-Medium
);

$ProfileGroupList: (
  background: rgba(26, 51, 82, 0.05),
  headerFont: rem-calc(14) HelveticaNeue-Bold,
  headerColor: #5b799e
);
$ProfileGroupHeader: (
  shadowColor: rgba(91, 121, 158, 0.1),
  background: map-get($Theme, secondaryMid),
  moreBackground: #ffffff,
  moreIconFillColor: map-get($Theme, info),
  primaryFontSize: $xlargeFontSize,
  secondaryFontSize: $largeFontSize,
  primaryFontFamily: HelveticaNeue-Bold,
  addButtonFont: 15px HelveticaNeue-Bold
);
$ProfileDetail: (
  background: #f5f6f9,
  versionHeaderBackground: #eff1f5,
  versionsBackGround: rgb(233, 236, 240),
  testersTableBackground: #ffffff,
  testersTableShadowColor: #e6e9ef,
  testersTableHeaderFontFamily: HelveticaNeue-Bold,
  testersTableHeaderFontSize: rem-calc(18),
  testersTableButtonFontFamily: HelveticaNeue-Medium,
  testersTableButtonFontSize: rem-calc(15),
  testersTableHeaderColor: #1a3352,
  testersTableButtonColor: #ff8f34,
  testersTableButtonBorderColor: #ff8f34
);

$ProfileDetailHeader: (
  shadowColor: rgba(91, 121, 158, 0.1),
  background: rgba(91, 121, 158, 0.04),
  moreBackground: #ffffff,
  moreIconFillColor: #ff8f34,
  primaryFontSize: $xlargeFontSize,
  secondaryFontSize: $largeFontSize,
  primaryFontFamily: HelveticaNeue-Bold
);

$ProfileDetailInfo: (
  shadowColor: #e6e9ef,
  background: #ffffff,
  fileNameColor: #1a3352,
  bundleNameColor: #5b799e,
  tagBorderColor: #5b799e,
  tagColor: #5b799e,
  primaryFontFamily: HelveticaNeue-Bold,
  secondaryFontFamily: HelveticaNeue-Medium,
  smallFontSize: rem-calc(12),
  normalFontSize: $largeFontSize,
  largeFontSize: rem-calc(18)
);

$ProfileVersions: (
  //background: rgba(26, 51, 82, 0.05),
    background: map-get($Theme, secondaryExtraLight),
  nameFont: 20px HelveticaNeue-Bold,
  actionsBackground: map-get($Theme, secondaryLight),
  actionsShadow: (
    0 1px 0 0 rgba(91, 121, 158, 0.1),
    0 -1px 0 0 rgba(91, 121, 158, 0.1)
  ),
  archiveInfoBackground: #e2e5eb,
  archiveInfoColor: #5b799e,
  archiveInfoFontFamily: HelveticaNeue-Medium,
  archiveInfoFontSize: 0.87rem,
  noVersionFontFamily: SFProText-Semibold,
  noVersionFontSize: $largeFontSize,
  noVersionColor: #cdd6e1
);
$ProfileDetailList: (
  background: rgba(26, 51, 82, 0.05),
  headerFont: rem-calc(14) HelveticaNeue-Bold,
  headerColor: #5b799e
);
$ProfileDetailListItem: (
  selectedBackground: rgba(91, 121, 158, 0.15),
  borderColor: #afbdcf,
  infoColor: #5b799e,
  selectedInfoColor: #1a3352,
  detailColor: #98a1ab,
  versionFont: rem-calc(17) HelveticaNeue,
  versionTagFont: rem-calc(17) HelveticaNeue-Bold,
  tagFont: rem-calc(11) HelveticaNeue-Bold,
  detailFont: rem-calc(14) HelveticaNeue-Medium,
  sizeFont: rem-calc(14) HelveticaNeue-Medium,
  versionTagSBackground: #6fba6c,
  versionTagVBackground: #98a1ab,
  versionTagColor: #ffffff
);
$ProfileMessageToTester: (
  copyIconFillColor: #ff8f34,
  titleColor: #1a3352,
  messageColor: #5b799e,
  boxShadow: 0 2px 4px 0 #e6e9ef,
  titleFont: rem-calc(18) HelveticaNeue-Bold,
  messageFont: rem-calc(14) HelveticaNeue
);
$SwitchButton: (
  selectedItemColor: map-get($Theme, primaryMid),
  itemColor: map-get($Theme, secondaryLight)
);

$IconTextField: (
  textColor: #5b799e,
  fontSize: 0.95rem,
  fontFamily: SFProText-Semibold
);

$AddButton: (
  background: map-get($Theme, info),
  color: #ffffff,
  fontSize: rem-calc(15),
  fontFamily: HelveticaNeue-Bold
);

$Button: (
  dangerBackground: map-get($Theme, warning),
  primaryBackground: map-get($Theme, info),
  disabledBackground: map-get($Theme, secondary),
  primaryColor: #ffffff,
  fontFamily: HelveticaNeue-Bold,
  font-size: rem-calc(15)
);

$DeleteModalView: (
  primaryColor: #da4444,
  secondaryColor: #9ba4ad,
  primaryFontFamily: SFProText-Semibold,
  primaryFontSize: $largeFontSize,
  secondaryFontSize: rem-calc(15),
  appInfoBackground: rgba(155, 164, 173, 0.1)
);

$TagComponent: (
  primaryColor: #5b799e,
  fontSize: rem-calc(12),
  fontFamily: HelveticaNeue-Bold
);

$TabView: (
  shadowColor: rgba(91, 121, 158, 0.1),
  // tabColor: #9ba4ad,
  tabColor: map-get($Theme, primaryLight),
  tabActiveColor: map-get($Theme, primaryMid),
  primaryFontFamily: HelveticaNeue-Medium,
  primaryFontSize: rem-calc(15)
);

$RadioGroup: (
  shadowColor: rgba(91, 121, 158, 0.1),
  itemColor: map-get($Theme, primaryLight),
  activeItemColor: map-get($Theme, primaryMid),
  circleColor: map-get($Theme, primaryLight),
  itemFontFamily: HelveticaNeue-Bold,
  itemFontSize: rem-calc(15)
);
$Select: (
  shadowColor: rgba(91, 121, 158, 0.1),
  itemColor: map-get($Theme, primaryLight),
  activeItemColor: map-get($Theme, primaryMid),
  circleColor: map-get($Theme, primaryLight),
  itemFontFamily: (
    HelveticaNeue-Bold,
    Arial,
    Helvetica,
    sans-serif
  ),
  itemFontSize: rem-calc(15)
);
$Switch: (
  thumbShadowColor: rgba(0, 0, 0, 0.19),
  thumbColor: #ffffff,
  lineColor: #a5b5c9,
  lineActiveColor: #ff8f34
);

$ProfileTestersTableItem: (
  checkboxBorderColor: #d2d8df,
  primaryFontSize: rem-calc(14),
  primaryFontFamily: HelveticaNeue-Medium,
  secondaryFontFamily: HelveticaNeue,
  primaryColor: #98a1ab,
  secondaryColor: #5b799e,
  headerColor: #cccfd4,
  statusCompleteColor: #61c35c,
  headerBackground: #f9fafb,
  seperatorColor: #eef1f5
);

$ProfileGroups: (
  background: #f5f6f9,
  listBackground: map-get($Theme, secondaryExtraLight),
  detailBackground: #f5f6f9,
  listShadowColor: rgba(91, 121, 158, 0.2),
  headerShadowColor: rgba(91, 121, 158, 0.1),
  headerBackground: rgba(91, 121, 158, 0.04),
  testersTableBackground: #ffffff,
  testersTableShadowColor: #e6e9ef,
  testersTableHeaderFontFamily: HelveticaNeue-Bold,
  testersTableHeaderFontSize: rem-calc(18),
  testersTableButtonFontFamily: HelveticaNeue-Medium,
  testersTableButtonFontSize: rem-calc(15),
  testersTableHeaderColor: #1a3352,
  testersTableButtonColor: map-get($Theme, info),
  testersTableButtonBorderColor: map-get($Theme, info),
  nameColor: #1a3352,
  boxShadowColor: rgba(91, 121, 158, 0.1),
  nameFont: 19px HelveticaNeue-Medium,
  titleFont: 19px HelveticaNeue-Medium,
  subTitleFont: 14px HelveticaNeue-Medium,
  bacgroundColor: rgba(91, 121, 158, 0),
  titleColor: #1a3352,
  subTitleColor: #5b799e,
  noTesterColor: #cdd6e1,
  noTesterFontFamily: SFProText-Semibold,
  noTesterFontSize: $largeFontSize
);

$MenuItem: (
  primaryColor: #617ea2,
  primaryFontFamily: HelveticaNeue-Bold,
  primaryFontSize: rem-calc(14),
  background: #ffffff,
  seperatorColor: #f6f6f9
);

$DropdownMenu: (
  iconColor: map-get($Theme, secondary),
  hoverColor: map-get($Theme, secondary),
  shadowColor: rgba(0, 0, 0, 0.1),
  background: #ffffff,
  selectedItemBackground: #e3e6ec
);

$Toast: (
  successBackground: #6fba6c,
  errorBackground: #da4444,
  generalBackground: #5b799e,
  messageFont: 14px HelveticaNeue-Medium
);

$SpinnerWithText: (
  fontFamily: SFProText-Semibold,
  fontSize: $largeFontSize,
  color: #98a1ab
);
$CommitTable: (
  successColor: #61c35c,
  failedColor: #da4444,
  buildingColor: #ffce6b
);
$CircleText: (
  color: #98a1ab,
  fontFamily: HelveticaNeue-CondensedBold,
  background: #eff1f5
);
$ContextMenuDarkTheme: (
  backgroundColor: #5b799e,
  color: white,
  fill: white,
  hoverColor: #48607e
);

$assetImagesPath: "./images";

$colors: (
  text: #fff,
  background: #333,
  // nested map inception
    primary:
    (
      base: #ffbb00,
      light: lighten(#ffbb00, 15%),
      dark: darken(#ffbb00, 15%),
      trans: transparentize(#ffbb00, 0.5)
    ),
  secondary: (
    base: #0969a2,
    light: lighten(#0969a2, 15%),
    dark: darken(#0969a2, 15%),
    trans: transparentize(#0969a2, 0.5)
  )
);

$ToolTip: (
  backgroundColor: map-get($Theme, primaryMid),
  textColor: #fff,
  radius: rem-calc(6),
  font: rem-calc(13) HelveticaNeue-Medium
);

$mobile-screen: 690;
$tablet-screen: 995;
$desktop-screen: 1400;
$desktop-lg-screen: 1800;

$mobile-screen-h: 650;
$tablet-screen-h: 768;
$desktop-screen-h: 800;
$mobile-min-h: 935;

$ipadPro-screen: 1366;
$iPadPro-screen-h: 1024;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen}px)";
$tablet: "only screen and (min-width:#{$mobile-screen}px) and (max-width: #{$tablet-screen}px)";
$desktop: "only screen and (min-width:#{$tablet-screen}px) and (max-width: #{$desktop-screen}px)";
$desktop-lg: "only screen and (min-width:#{$desktop-screen}px) and (max-width: #{$desktop-lg-screen}px)";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

$mobile-h: "only screen and (max-height:#{$mobile-screen-h}px)";
$tablet-h: "only screen and (min-height:#{$mobile-screen-h}px) and (max-height: #{$tablet-screen-h}px)";
$desktop-h: "only screen and (min-height:#{$tablet-screen-h}px) and (max-height: #{$desktop-screen-h}px) ";
$desktop-lg-h: "only screen and (min-height:#{$desktop-screen-h}px)";

$medium-h: "only screen and (max-width:#{$iPadPro-screen-h}px) or (max-height:#{$iPadPro-screen-h}px)";
$medium: "only screen and (max-width:#{$ipadPro-screen}px) ";

$mobile-minh: "only screen and (max-height:#{$mobile-min-h}px) and (max-width:#{$tablet-screen}px)";
