.PreviewonDeviceModalView {
  padding-top: rem-calc(10);
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_header {
    max-height: rem-calc(40);
  }
  &_notavailable {
    padding: 15px;
    color: map-get($Theme, primary);
    font-size: 1rem;
  }
  &_frame {
    flex-grow: 1;
    iframe {
      margin-top: rem-calc(10);
      width: 100%;
      height: 100%;
      border: none;
    }
    overflow: hidden;
  }
  option {
    white-space: unset;
  }
  select {
    text-transform: capitalize;
  }
}
