.SendToTesterModalView {
  .FormBody {
    margin: 0;
    width: 100%;
  }
  &-wrapper {
  }

  &_header {
    margin: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1a3352;
    background-color: #f5f6f9;
    padding: 1rem;
    border-radius: 5px;
    &_left {
      display: flex;
      align-items: center;
      font: 1.25rem HelveticaNeue-Bold;
    }
    &_right {
      font: 1.25rem HelveticaNeue-Bold;
    }
  }

  &_info {
    margin-bottom: 1.25rem;
    &_title {
      font-family: SFProText-Semibold;
      color: #5b799e;
      letter-spacing: 0.21px;
      margin-bottom: 0.3125rem;
    }
    &_subtitle {
      font-family: SFProText-Regular;
      letter-spacing: 0.2px;
      color: #a5b5c9;
    }
  }
  &_body {
    .Form_error {
      position: unset;
      // padding-bottom: unset;
      margin-top: -30px;
    }
    // max-height: calc(100% + 5rem);
    padding-left: 3.125rem;
    padding-right: 3.125rem;

    height: 100%;
    > * {
      padding-bottom: 1.75rem;
      display: flex;
      flex-direction: column;
    }
    &-autoHeight {
      height: auto;
    }
    &_tags {
      // margin: 0px 1.875rem;
    }
    &_emails {
      height: auto;
      max-height: 50%;
      .TaggableTextField {
        max-height: 65%;
      }
      &-final {
        display: flex;
        padding: 0px 1.875rem;
        overflow: scroll;
        flex-wrap: wrap;
        padding: unset;
      }
    }
    &_message {
      &_textarea {
        // padding: 0px 1.875rem;
        height: 65%;
        min-height: rem-calc(100);
        textarea {
          border-radius: 5px;
          font: 0.875rem SFProText-Regular;
          border: solid 1px #e5e8ef;
          resize: none;
          width: 100%;
          height: 9rem;
          max-height: 17.5rem;
          padding: 0.9375rem;
          color: #1a3352;
        }
        &-final {
          background-color: #f5f6f9;
        }
      }
    }
  }
  // &_footer {
  //   position: sticky;
  //   background: white;
  //   bottom: 10px;
  //   height: 4.357rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  // }
  &_primaryButton {
    margin-left: 1.25rem;
  }
  .SubmitButton {
    width: rem-calc(150);
  }
  form {
    height: 100%;
  }
}
