@import "./components/CheckboxList.scss";
@import "./components/AutoSentSettings.scss";

.SettingsModalView {
  &_tab1 {
    &_header {
      font-family: SFProText-Semibold;
      font-size: rem-calc(14);
      letter-spacing: 0.2px;
      margin-top: rem-calc(31);
      color: map-get($Theme, primaryMid);
    }
    &_description {
      font-family: SFProText-Regular;
      font-size: rem-calc(13);
      letter-spacing: 0.2px;
      color: map-get($Theme, primaryLight);
    }
  }
  .RadioGroup {
    background-color: map-get($Theme, secondaryExtraLight);
    &_item {
    }
  }

  .ModalWindow_body {
    @extend %flex-column-center;
  }
  .TabView {
    flex-grow: 1;
    width: 100%;
  }
  .Button {
  }
}
