$SettingModalViewHeader-textButton-passive-color: #9ba4ad;

.SettingModalViewHeader {
  height: rem-calc(82);
  margin-left: rem-calc(21);
  margin-right: rem-calc(25);
  @extend %flex-row-center;
  justify-content: space-between;
  &_icon {
    height: rem-calc(48);
    width: rem-calc(48);
    border-radius: rem-calc(7);
    background-size: contain;
  }
  &_main {
    @extend %flex-row-center;
  }
  &_title {
    margin-left: rem-calc(18);
    font-family: HelveticaNeue-Bold;
    font-size: rem-calc(20);
    color: #1a3352;
  }
  &_buttons {
    @extend %flex-row-center;
    justify-content: space-between;
    &_margin {
      margin-left: rem-calc(14);
    }
    & > :last-child {
      margin-left: rem-calc(14);
      color: $SettingModalViewHeader-textButton-passive-color;
      border-color: $SettingModalViewHeader-textButton-passive-color;
      &:hover {
        color: lighten($SettingModalViewHeader-textButton-passive-color, 15%);
        border-color: lighten(
          $SettingModalViewHeader-textButton-passive-color,
          15%
        );
      }
      &:active {
        color: darken($SettingModalViewHeader-textButton-passive-color, 10%);
        border-color: darken(
          $SettingModalViewHeader-textButton-passive-color,
          10%
        );
      }
    }
  }
}
