// pages
@import "./pages/profile/StoreSubmitProfileDetail.scss";

// components
@import "./pages/profiles/components/StoreSubmitProfileCard.scss";
@import "./pages/profile/components/StoreSubmitProfileDetailHeader.scss";
@import "./pages/profile/components/StoreSubmitProfileDetailInfo.scss";

.StoreSubmit {
  --content-gap: 1rem;
  --header-h: 4.375rem;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
