.RadioGroup {
  @extend %flex-column;
  background: #f5f6f9;
  border-radius: rem-calc(5);

  &_item {
    @extend %flex-row-center;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 map-get($RadioGroup, shadowColor);
    margin-bottom: 1px;
    width: 100%;
    cursor: pointer;

    & > span {
      margin-left: rem-calc(18);
    }
    &:last-child {
      box-shadow: none;
    }
    // &-selected {
    //   color: map-get($RadioGroup, activeItemColor);
    // }
  }
  &-disabled {
    opacity: 0.3;
    // pointer-events: none;
  }
}

.ComponentGroup {
  &_item {
    @extend %flex-row-center;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 map-get($RadioGroup, shadowColor);
    margin-bottom: 1px;
    width: 100%;
    cursor: pointer;

    & > span {
      margin-left: rem-calc(18);
    }
    &:last-child {
      box-shadow: none;
    }
    // &-selected {
    //   color: map-get($RadioGroup, activeItemColor);
    // }
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
