.NumberStepperInput {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left: unset !important;
  &_input {
    width: 100%;
    height: rem-calc(40);
    border-radius: rem-calc(5);
    background-color: #f5f6f9;
    padding-left: rem-calc(15);
    margin-right: rem-calc(15);
    font-family: HelveticaNeue-Medium;
  }

  &_stepperControls {
    height: 100%;
    top: 0px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f6f9;
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.StepperControls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem-calc(30);
  height: rem-calc(19);
  background-color: #e5e8ef;
  cursor: pointer;
  &-up {
    border-top-right-radius: rem-calc(5);
  }
  &-down {
    border-bottom-right-radius: rem-calc(5);
  }
  &_arrow {
    width: 0;
    height: 0;
    border: solid 4px;
    pointer-events: none;
    &-up {
      border-color: transparent transparent #a5b5c9 transparent;
    }
    &-down {
      border-color: #a5b5c9 transparent transparent transparent;
    }
  }
}
