$TaggableTextField: (
  primaryFontFamily: HelveticaNeue-Medium,
  primaryFontSize: rem-calc(15),
  palceHolderColor: #9ba4ad
);

.TaggableTextArea {
  position: relative;
  &_empty {
    width: 100%;
    textarea {
      width: 100% !important;
    }
  }
  &_autoComplete {
    > li {
      border-bottom: 1px solid #9ba4ad;
      font-size: rem-calc(12);
      padding: rem-calc(5);
    }
    position: absolute;
    top: 2em;
  }
}
.TaggableTextField {
  overflow: auto;
  border: solid 1px #e5e8ef;
  border-radius: 5px;

  &_child {
    width: 100%;
    // height: 12.5rem;
    max-height: 100%;
    padding: 0.9375rem;
    cursor: text;
    display: flex;
    flex-wrap: wrap;
    &_tag {
      font: 0.875rem SFProText-Semibold;
      color: #1a3352;
      padding: 0.625rem;
      border-radius: 0.3125rem;
      background-color: #f5f6f9;
      margin-bottom: 0.625rem;
      margin-right: 0.625rem;
      height: 1.875rem;
      display: flex;
      justify-content: center;
      padding: 0px 0.625rem;
      align-items: center;
      cursor: initial;
      &_close {
        margin-left: 1.125rem;
        cursor: pointer;
      }
    }
    textarea {
      font: 0.875rem SFProText-Regular;
      resize: none;
      overflow: hidden;
      padding-top: 0.25rem;
      line-height: 20px;
      min-width: 0.625rem;
      height: auto;
      width: 0px;
      min-height: 100%;
      &::placeholder {
        font-family: map-get($TaggableTextField, primaryFontFamily);
        font-size: map-get($TaggableTextField, primaryFontSize);
        color: map-get($TaggableTextField, palceHolderColor);
      }
    }
  }
  &-error {
    // border: 1px solid #da4444;
    textarea {
      color: #da4444;
      font-weight: 600;
    }
  }
  &-isEmpty {
    textarea {
      // width: 100% !important;
    }
  }
}
